<form class="{{cssClass}}" autocomplete="off">
  <div class="dialoguePane">
    
    
    
    <table class="weaponList">
      <tr>
        <th> Weapon</th>
        <th> Ammo </th>
        <th> </th>
      </tr>
      
      {{#each weaponList as |item iid|}}
        <tr> 
          <td class="button item-name selectWeapon" data-item-id="{{item.id}}">
            <span class="item-image" style="background-image: url({{item.img}})"></span>
            <span> {{item.name}} </span>
          </td>

          <td>
            {{#if data.magazine}}
              <span class="item-magValue" style="margin-left: 5px"> {{#if data.magazine}} {{data.magazine.system.quantity}} {{else}} 0 {{/if}} / {{data.capacity}}</span>
              
            {{/if}}
          </td>
          <td>
            {{#if data.magazine}}
              {{#if data.magazine}}
                <span class="button item-reload reloaded fas fa-eject" data-item-id="{{item.id}}" title="Eject"></span>  
                {{else}} <span class="button item-reload fas fa-sync-alt" data-item-id="{{item.id}}" title="Reload"></span>  
              {{/if}}
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </table>
    

  </div>
</form>

