<div class="kUltraBlock">
  
  <h3> Modifiers </h3>
  <div class="flexBlock" style="align-items: flex-start">
    <div> 
    <h4> I am </h4>
    <div class="groupBox">
      <div>
        {{#if (isFirearm weaponType)}}
          <p><input type="checkbox" name="self_running" value="Running" id="selfRun" class="fancyCheckbox" ><label for="selfRun" title="You used the running Action this turn. Incurs -2 dice."> running </label></p>
        {{/if}}
        
        <p><input type="checkbox" name="self_distracted" value="Distracted" id="selfDistracted" class="fancyCheckbox"><label for="selfDistracted" title="You are distracted. Incurs -2 dice." > distracted </label></p>
        
        
        <p><input type="checkbox" name="self_offHand" value="Off-hand" id="selfOffHand" class="fancyCheckbox"><label for="selfOffHand" title="You're using an offhand weapon. Incurs -2 dice."> using off-hand </label></p>
        
      </div>
    </div>
      </div>
    <div>
    <h4> Target is </h4>
    <div class="groupBox">
      <div>
        <p><input type="checkbox" name="target_hidden" value="Target hidden" id="targetHidden" class="fancyCheckbox"><label for="targetHidden" title="You can't see the target but know where it is. Incurs -2 dice for melee, -3 for firearms.">hidden</label></p>
        {{#if (isFirearm weaponType)}}
          <p><input type="checkbox" name="target_running" value="Target running" id="targetRun" class="fancyCheckbox"><label for="targetRun" title="The target is running. Incurs -2 dice. A target running towards/away from you does not count."> running</label></p>
        {{/if}}
        {{#if (isMelee weaponType)}}
          <p><input type="checkbox" name="target_outnumbered" value="Target outnumbered" id="targetOutnumbered" class="fancyCheckbox"><label for="targetOutnumbered" title="At least two fighters (including you) are engaged against the enemy. Incurs +2 dice."> outnumbered</label></p>
        {{/if}}
      </div>

      <div>
        {{#if (isMelee weaponType)}}
          <p><input type="checkbox" name="target_defending" value="Targe defending" id="targetDefending" class="fancyCheckbox"><label for="targetDefending" title="The target is actively defending. Adds the target's Melee dice to its defence dice pool."> defending</label></p>
        {{/if}}
        <p><input type="checkbox" name="target_unaware" value="Target unaware" id="targetUnaware" class="fancyCheckbox"><label for="targetUnaware" title="The target has not noticed you. It does not get to dodge."> unaware</label></p>
        <p><input type="checkbox" name="target_immobile" value="Target immobile" id="targetImmobile" class="fancyCheckbox"><label for="targetImmobile" title="The target is completely still. All dice on the attack are successes and the target does not get to dodge. Note: aiming at a specific location might still incur a miss."> immobile</label></p>
      </div>
    </div>
      </div>
  </div>
  
  <dl class="largeTitles">
    {{#if (isFirearm weaponType)}}
    <dt>Cover</dt>
    <dd>
      <div><div class="buttonset">
        <label><input type="radio" data-vartype="number" name="cover_chance" value="0"><span>None</span></label>
        <label><input type="radio" data-vartype="number" name="cover_chance" value="25"><span>Low</span></label>
        <label><input type="radio" data-vartype="number" name="cover_chance" value="50" checked><span>Medium</span></label>
        <label><input type="radio" data-vartype="number" name="cover_chance" value="75"><span>High</span></label>
        <label><input type="radio" data-vartype="number" name="cover_chance" value="100"><span>Full</span></label>
      </div></div>
    </dd>
    <dt></dt>
    <dd style="padding-top: 0">
      <div><div class="buttonset">
        <label><input type="radio" data-vartype="number" name="cover_strength" value="75"><span>Weak</span></label>
        <label><input type="radio" data-vartype="number" name="cover_strength" value="150" checked ><span>Medium</span></label>
        <label><input type="radio" data-vartype="number" name="cover_strength" value="300"><span>Strong</span></label>
      </div></div>
    </dd>
    {{/if}}
    
    {{#if (isMelee weaponType)}}
    <dt>Position</dt>
    <dd>
      <div><div class="buttonset" title="Select your positional (dis-)advantage including differences in weapon length.">
        <label><input type="radio" data-vartype="number" name="position" value="-2"><span>Disadvantage</span></label>
        <label><input type="radio" data-vartype="number" name="position" value="0" checked><span>Neither</span></label>
        <label><input type="radio" data-vartype="number" name="position" value="2"><span>Advantage</span></label>
      </div></div>
    </dd>
    {{/if}}
    
    <dt>Distance</dt>
    <dd>
      <div><div class="buttonset">
        {{#if (isFirearm weaponType)}}
        <label><input type="radio" data-vartype="number" name="target_distance" value="0"><span>Melee</span></label>
        <label><input type="radio" data-vartype="number" name="target_distance" value="1"><span>Close</span></label>
        <label><input type="radio" data-vartype="number" name="target_distance" value="2" checked><span>Medium</span></label>
        <label><input type="radio" data-vartype="number" name="target_distance" value="3"><span>Far</span></label>
        <label><input type="radio" data-vartype="number" name="target_distance" value="4"><span>Very Far</span></label>
        {{/if}}
        
        {{#if (isMelee weaponType)}}
        <label><input type="radio" data-vartype="number" name="target_distance" value="0"><span>Short</span></label>
        <label><input type="radio" data-vartype="number" name="target_distance" value="1"><span>Normal</span></label>
        <label><input type="radio" data-vartype="number" name="target_distance" value="2" checked><span>Long</span></label>
        {{/if}}
      </div></div>
    </dd>
  </dl>
  
  <div class="flexBlock">
    <div>
      <dl>
       
        <dt>Dice Pool:</dt>
        <dd>
          <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelectorAll('input')[1];if(v=='+'){i.value++}if(v=='−'){i.value--};i.dispatchEvent(new Event('input'))">
            <input name="dicePoolBase" type="number" min="-99" max="99" value="{{dicePool}}" readonly>
            <div class="theNumber"><span>{{numberFormat flags.dicePool_userMod sign=true}}</span><input name="dicePool_userMod" type="number" min="-99" max="99" value="{{flags.dicePool_userMod}}"
            oninput="this.previousElementSibling.textContent=((this.value==''||this.value<0)?'':'+')+this.value"></div>
            <div class="numBtns"><div class="plusBtn">+</div><div class="minusBtn">−</div></div>
          </div>
        </dd>
        
        <dt>Target Number:</dt>
        <dd>
          <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelectorAll('input')[1];if(v=='+'){i.value++}if(v=='−'){i.value--};i.dispatchEvent(new Event('input'))">
            <input name="targetNumberBase" type="number" min="-99" max="99" value="{{targetNumber}}" readonly>
            <div class="theNumber"><span>{{numberFormat flags.targetNumber_userMod sign=true}}</span><input name="targetNumber_userMod" type="number" min="-99" max="99" value="{{flags.targetNumber_userMod}}"
            oninput="this.previousElementSibling.textContent=((this.value==''||this.value<0)?'':'+')+this.value"></div>
            <div class="numBtns"><div class="plusBtn">+</div><div class="minusBtn">−</div></div>
          </div>
        </dd>
        
        <dt>Damage:</dt>
        <dd>
          <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelectorAll('input')[1];if(v=='+'){i.value++}if(v=='−'){i.value--};i.dispatchEvent(new Event('input'))">
            <input name="damageBase" type="number" min="-99" max="99" value="{{damage}}" readonly>
            <div class="theNumber"><span>{{numberFormat flags.damage_userMod sign=true}}</span><input name="damage_userMod" type="number" min="-99" max="99" value="{{flags.damage_userMod}}"
            oninput="this.previousElementSibling.textContent=((this.value==''||this.value<0)?'':'+')+this.value"></div>
            <div class="numBtns"><div class="plusBtn">+</div><div class="minusBtn">−</div></div>
          </div>
        </dd>
        
      </dl>
    </div>
    <div>
      <div title="The location to aim at. 'Any' is the best choice for damage outside of special cases.">
        <label> Target </label>
        <select name="aimLocation"  >
          {{#each aimTargets}}   
            <option value="{{name}}">{{name}}</option>
          {{/each}}
      </select>
      </div>
      <div class="megaBtn">
      <button type="button" class="button attack-execute">Execute</button>
    </div>
    </div>
    
  </div>

</div>