<div class="kUltraBlock">
  
  <div class="flexBlock">
    <div>
      <dl>
       
        <dt>Dice Pool:</dt>
        <dd>
          <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelectorAll('input')[1];if(v=='+'){i.value++}if(v=='−'){i.value--};i.dispatchEvent(new Event('input'))">
            <input name="dicePoolBase" type="number" min="-99" max="99" value="{{dicePool}}" readonly>
            <div class="theNumber"><span>+0</span><input name="dicePoolBonus" type="number" min="-99" max="99" value="0"
            oninput="this.previousElementSibling.textContent=((this.value==''||this.value<0)?'':'+')+this.value"></div>
            <div class="numBtns"><div class="plusBtn">+</div><div class="minusBtn">−</div></div>
          </div>
        </dd>
        
        <dt>Target Number:</dt>
        <dd>
          <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelectorAll('input')[1];if(v=='+'){i.value++}if(v=='−'){i.value--};i.dispatchEvent(new Event('input'))">
            <input name="targetNumberBase" type="number" min="-99" max="99" value="{{targetNumber}}" readonly>
            <div class="theNumber"><span>+0</span><input name="targetNumberBonus" type="number" min="-99" max="99" value="0"
            oninput="this.previousElementSibling.textContent=((this.value==''||this.value<0)?'':'+')+this.value"></div>
            <div class="numBtns"><div class="plusBtn">+</div><div class="minusBtn">−</div></div>
          </div>
        </dd>

      </dl>
    </div>
    <div>
      <div class="megaBtn">
      <button type="button" class="button roll-execute">Execute</button>
    </div>
    </div>
    
  </div>

</div>