<div class="worldbuilding chat-card attack-card">
  <div>
    <div class="roll-result" >
      {{data.result_roll}}
    </div>
  </div>
  
  
  {{#if data.result_attacks}}
    <div class="card-content">
      <ul class="attacks-result">
        {{#each data.result_attacks as |attack|}}
          <li class="{{#if attack.targetUuid}}wrong-target{{/if}}">Shot {{@index}}: {{attack.detail}} ({{attack.damage}} {{attack.damageType}} dmg.){{#if attack.targetUuid}}[Hit {{attack.targetName}}]{{/if}}</li>
        {{/each}}
      </ul>
      <div class="total-dmg"> Total Damage: </div>
      <div class="attacks-total">
        <div>
          <label> {{data.result_health}} Health </label>
          <label> {{data.result_clarity}} Clarity </label>
        </div>
      </div>
      {{#if data.damageEffects}}
        <ul class="damage-effects">
        {{#each data.damageEffects}}
          <li class="damage-effect">
            <div class="condition-icon condition-click {{system.type}} tooltip" data-name="{{name}}">
              <img src="{{img}}" alt="{{name}}">
            </div>
            <div class="condition-name">Inflicted {{name}}!</div>
          </li>
        {{/each}}
        </ul>
      {{/if}}
    </div>
  {{/if}}
  {{#if data.modifiers}}
  <footer class="card-footer">
    {{#each data.modifiers}}
    <span>{{this}}</span>
    {{/each}}
  </footer>
  {{/if}}
  
</div>

