<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="talents">Talents</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
  {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{~> "systems/tac/templates/actors/parts/actor-attributes.hbs"}}
    </div>
    {{!-- Item Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{~> "systems/tac/templates/actors/parts/actor-inventory.hbs"}}
    </div>
    {{!-- Talents Tab --}}
    <div class="tab talents" data-group="primary" data-tab="talents">
      <div class="talent-tree-wrapper">
        <div class="tree-selection"> 
          {{#each config.TALENT_TREES}}
            <div {{#if (eq ../currentSkillTreePage @key)}}class="active"{{/if}}>{{name}}</div>
          {{/each}}
        </div>
        <div class="talent-tree-pane">
          <div class="skill-tree"></div>
          {{#if currentSelectedTalent}}
            <div class="talent-description-pane">
              <h4 class="talent-name">{{currentSelectedTalent.name}}</h4>
              <div class="talent-description">{{{currentSelectedTalent.description}}}</div>
              {{#if currentSelectedTalent.description_next}}<div class="talent-description-next">Next level: {{{currentSelectedTalent.description_next}}}</div>{{/if}}
              <div class="button-row">
                <div>
                  {{#if currentSelectedTalent.stacks}}<button class="talent-remove-button" data-talent="{{currentSelectedTalent.key}}"><i class="fas fa-undo-alt"></i></button>{{/if}}
                </div>
                <div class="middle-button">
                  {{#if currentSelectedTalent.levelable}}<button class="talent-button" data-talent="{{currentSelectedTalent.key}}">Add Talent</button>{{/if}}
                </div>
                <div></div>
                
                
              </div>
            </div>
          {{/if}}
        </div>
        
      </div>
    </div>
  </section>
</form>