<form class="{{cssClass}}" autocomplete="off">
  <div class="dialoguePane">
    
    
    
    <ul class="equipList">
      {{#each ammoList as |item iid|}}
        <li class="button selectAmmo" data-item-id="{{item.id}}"> 
          <span class="item-image" style="background-image: url({{item.img}})"></span>
          <span class="item-name">{{item.name}}</span>
          <span class="ammo-count">{{item.system.quantity}}</span>
        </li>
      {{/each}}
    </ul>
    

  </div>
</form>

