<form class="{{cssClass}}" autocomplete="off">
  <div class="dialoguePane weaponSwitch">
    <ul class="equipList">
      {{#each weaponList as |item iid|}}
        <li class="button selectWeapon" data-item-id="{{item.id}}"> 
          <div class="item-image" style="background-image: url({{item.img}})"></div>
          <span class="item-name">{{item.name}}</span>
        </li>
      {{/each}}
    </ul>
    {{#if weaponEquipped}}<div class="button neutral unequipWeapon">Unequip (0 Ticks)</div>{{/if}}
  </div>
</form>

