<form class="{{cssClass}}" autocomplete="off">
  <div class="dialoguePane">
    <div class="paneColumn">
    <div class="paneBlock">
      <div class="header"> Environmental Factors </div>
    
    
    
    </div>
    <div class="paneBlock">
      <div class="header"> Override </div>
    
    
    
    </div>
    <div class="paneBlock">
      <div class="header"> Improvised Weapons </div>
    
    
    
    </div>
  </div>
  
  <div class="paneColumn">
    <div class="paneBlock">
      <div id="HITME">
        <div id="aimLocation"> </div>
        <div id="hitBoi"> 
          <svg class="aiming-reticule" version="1.0" xmlns="http://www.w3.org/2000/svg" width="600%" height="600%" viewBox="0 0 1300 1300" preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#fff" stroke="none">
            <path stroke="#fff" d="M6095 12794 c-27 -2 -115 -8 -195 -14 -1031 -76 -2041 -413 -2939 -982 -172 -109 -185 -120 -215 -180 -51 -103 -21 -224 72 -291 37 -27 54 -32 116 -35 84 -5 87 -3 233 92 682 442 1467 745 2264 875 374 61 562 75 969 75 407 0 595 -14 969 -75 422 -69 812 -176 1206 -333 151 -59 189 -71 235 -70 166 3 273 179 200 330 -39 79 -77 100 -395 219 -525 195 -1055 314 -1650 371 -150 14 -756 27 -870 18z"/>
              <path stroke="#fff" d="M6045 11934 c-22 -2 -96 -9 -165 -15 -232 -20 -528 -69 -785 -129 -333 -78 -846 -259 -914 -323 -94 -90 -79 -242 32 -311 67 -42 126 -39 242 9 525 219 1138 351 1739 374 1081 41 2131 -247 3018 -830 48 -32 104 -63 124 -69 126 -42 267 77 251 211 -10 82 -37 113 -176 204 -720 471 -1530 757 -2439 861 -129 15 -818 28 -927 18z"/>
              <path stroke="#fff" d="M9776 11735 c-93 -33 -148 -104 -154 -200 -4 -55 0 -73 22 -119 24
              -48 40 -63 177 -161 262 -187 468 -357 689 -570 133 -127 170 -149 255 -149
              171 0 278 175 200 330 -52 104 -495 492 -856 749 -187 133 -241 153 -333 120z"/>
              <path stroke="#fff" d="M3322 11008 c-127 -68 -471 -340 -705 -556 -174 -160 -204 -207 -194
              -295 16 -130 153 -212 272 -163 19 8 85 63 146 121 196 187 396 351 625 513
              123 87 149 127 142 222 -8 105 -75 171 -182 178 -49 3 -69 -1 -104 -20z"/>
              <path stroke="#fff" d="M1928 10962 c-48 -28 -214 -197 -374 -382 -197 -227 -463 -587 -489
              -661 -51 -145 58 -300 211 -301 98 -1 151 33 226 141 184 267 382 511 610 747
              64 67 124 137 134 155 24 45 25 162 2 204 -63 117 -211 162 -320 97z"/>
              <path stroke="#fff" d="M10095 10362 c-97 -47 -141 -160 -100 -259 8 -20 57 -79 108 -132
              183 -188 340 -378 501 -604 109 -154 140 -177 231 -177 116 0 195 80 195 197
              0 55 -4 67 -48 134 -65 98 -209 290 -311 414 -122 147 -340 382 -384 412 -51
              36 -135 42 -192 15z"/>
              <path stroke="#fff" d="M11414 10056 c-83 -39 -126 -108 -126 -207 0 -66 -2 -62 116 -249
              165 -260 317 -544 441 -823 55 -123 103 -175 180 -197 144 -40 288 69 288 220
              0 44 -10 78 -48 165 -139 320 -407 806 -563 1021 -64 88 -186 117 -288 70z"/>
              <path stroke="#fff" d="M1879 9567 c-33 -17 -59 -44 -102 -108 -142 -207 -313 -515 -433
              -782 -53 -117 -64 -151 -64 -195 0 -174 201 -266 326 -149 23 22 60 89 122
              222 93 201 203 405 304 564 145 227 150 241 129 320 -34 127 -168 187 -282
              128z"/>
              <path stroke="#fff" d="M612 9009 c-61 -30 -93 -75 -141 -195 -303 -759 -449 -1472 -468
              -2284 -19 -845 132 -1692 443 -2480 36 -91 78 -181 93 -200 78 -98 243 -109
              334 -22 45 42 70 100 71 162 1 46 -12 86 -76 250 -547 1395 -541 2987 18 4370
              47 118 58 155 58 200 -1 90 -55 170 -136 204 -54 23 -144 20 -196 -5z"/>
              <path stroke="#fff" d="M11252 8669 c-38 -15 -75 -48 -99 -87 -37 -61 -32 -127 22 -260 401
              -997 478 -2109 219 -3162 -49 -199 -144 -495 -218 -678 -58 -143 -62 -204 -17
              -274 35 -55 96 -88 164 -88 112 0 156 46 235 245 231 581 361 1206 381 1832 7
              229 -1 549 -19 728 -50 519 -178 1051 -365 1520 -59 147 -92 195 -152 221 -37
              16 -116 17 -151 3z"/>
              <path stroke="#fff" d="M12395 7871 c-104 -27 -177 -115 -178 -215 0 -28 14 -132 32 -231
              129 -724 117 -1506 -34 -2239 -184 -886 -586 -1747 -1154 -2466 -266 -338
              -643 -715 -981 -981 -911 -719 -1973 -1141 -3155 -1255 -250 -25 -800 -25
              -1050 0 -582 56 -1105 178 -1618 377 -226 88 -239 91 -305 78 -153 -31 -230
              -200 -152 -336 16 -28 43 -61 59 -72 35 -25 302 -131 491 -195 948 -319 1964
              -412 2960 -270 1218 173 2368 701 3300 1514 156 136 456 436 598 598 1194
              1361 1753 3141 1551 4937 -19 169 -63 453 -89 573 -28 126 -159 213 -275 183z"/>
              <path stroke="#fff" d="M1085 7661 c-91 -41 -112 -88 -155 -353 -47 -290 -62 -465 -67 -800
              -6 -347 3 -530 38 -813 212 -1678 1192 -3174 2654 -4052 744 -447 1567 -706
              2454 -773 174 -13 609 -13 782 0 331 25 639 74 949 151 329 81 791 243 867
              304 87 69 97 203 21 283 -81 84 -139 85 -338 7 -480 -190 -977 -303 -1504
              -345 -166 -13 -606 -13 -772 0 -1001 79 -1916 425 -2712 1024 -369 279 -733
              642 -1010 1009 -856 1135 -1202 2565 -961 3975 34 203 35 240 10 290 -50 98
              -159 137 -256 93z"/>
              <path stroke="#fff" d="M10742 3589 c-33 -16 -60 -45 -114 -123 -354 -502 -762 -913 -1260
              -1269 -111 -79 -140 -105 -157 -140 -65 -134 30 -287 176 -287 61 0 93 16 239
              121 494 354 935 797 1292 1294 101 140 115 173 110 245 -8 105 -75 172 -182
              178 -48 2 -70 -2 -104 -19z"/>
              <path stroke="#fff" d="M1190 3164 c-105 -45 -164 -178 -126 -282 28 -79 305 -450 520 -697
              131 -150 433 -452 595 -594 263 -231 629 -503 709 -528 191 -58 356 145 266
              325 -20 40 -41 63 -92 99 -362 253 -614 465 -897 754 -272 278 -441 482 -678
              821 -36 51 -59 72 -99 92 -60 30 -142 34 -198 10z"/>
            </g>
          </svg>
        </div>
        <svg width="100%" height="100%" version="1.1" viewBox="0 0 280.02501 591.34499">
          <g transform="translate(35 17)">
          <path class="miss" d="m105-16.886h139.88v591.08h-279.76v-591.08z" fill="#010006" stroke="#fff" stroke-linejoin="round" stroke-width=".265"/>
          <path class="grace" d="m105 2.4919 22.904 7.7028 4.4194 20.573h3.7703l0.46302 12.568-4.4979 2.5797-8.5982 19.237 4.3324 16.87 21.148 10.46 26.727 14.466 6.6123 26.226 6.329 78.173 21.433 85.112 11.815 12.663-1.3401 38.282-26.445-5.7586-4.4948-38.765-35.434-88.899 4.303 25.257 9.2354 58.362-2.5589 58.094-5.4811 55.081 2.7781 99.219 1.9429 18.731 14.01 29.013-13.471 6.0052-17.119 3.6482-7.0158-33.769-4.4901-13.47-0.13618-12.754-26.15-169.66-4.9905-7.3681-4.9905 7.3681-26.15 169.66-0.13618 12.754-4.4901 13.47-7.0158 33.769-17.119-3.6482-13.471-6.0052 14.01-29.013 1.9429-18.731 2.7781-99.219-5.4811-55.081-2.5589-58.094 9.2354-58.362 4.303-25.257-35.434 88.899-4.4948 38.765-26.445 5.7586-1.3401-38.282 11.815-12.663 21.433-85.112 6.329-78.173 6.6123-26.226 26.727-14.466 21.148-10.46 4.3324-16.87-8.5982-19.237-4.4979-2.5797 0.46302-12.568h3.7703l4.4194-20.573z" fill="#0b79f7" stroke="#000" stroke-width=".26458px"/>
          <path class="head" transform="translate(-17.992)" d="m122.99 74.107 16.559-9.4812 9.2208-29.667-6.3834-20.596-19.396-6.9487-19.396 6.9487-6.3834 20.596 9.2208 29.667z" fill="#e22" stroke="#000" stroke-width=".26458px"/>
          <path class="neck" transform="translate(-.015969)" d="m105.02 92.739 18.527-8.2847-1.9686-19.829-16.559 9.487-16.559-9.487-1.9686 19.829z" fill="#eeb822" stroke="#000" stroke-width=".26458px"/>
          <path class="torso" d="m105 92.739v0.07486l-1e-5 -0.07486-18.527-8.2847-44.68 28.471-10.205 20.789 32.128 52.917-6.0476 69.17 47.332 13.467 47.332-13.467-6.0476-69.17 32.128-52.917-10.205-20.789-44.68-28.471z" fill="#a7ed03" stroke="#000" stroke-width=".26458px"/>
          <path class="arms" d="m178.41 133.71 6.4934 78.294 22.985 85.526-14.165 4.5436-31.805-79.379-15.636-36.068zm-146.82 0-6.4934 78.294-22.985 85.526 14.165 4.5436 31.805-79.379 15.636-36.068z" fill="#03ed32" stroke="#000" stroke-width=".26458px"/>
          <path class="hips" d="m105 269.27v0.0251l-1e-5 -0.0251-47.332-13.467-9.8274 51.594 47.814 22.301 9.3452-1.264 9.3452 1.264 47.814-22.301-9.8274-51.594z" fill="#f7ef0b" stroke="#000" stroke-width=".26458px"/>
          <path class="legs" d="m162.16 307.39-9.266 102.2 4.5413 100.47-15.243-1.0825-15.373-97.267-12.473-82.021zm-114.32 0 9.266 102.2-4.5413 100.47 15.243-1.0825 15.373-97.267 12.473-82.021z" fill="#03ed32" stroke="#000" stroke-width=".26458px"/>
          <path class="feet" d="m142.19 508.98-1.1225 13.727 3.0716 9.5963 6.6655 31.365 22.4-6.3158-13.07-28.479-1.5601-10.359-1.142-8.4514zm-74.382 0 1.1225 13.727-3.0716 9.5963-6.6655 31.365-22.4-6.3158 13.07-28.479 1.5601-10.359 1.142-8.4514z" fill="#0be7f7" stroke="#000" stroke-width=".26458px"/>
          <path class="hands" d="m207.89 297.53 11.535 12.242-1.0678 34.609-22.361-5.4319-2.2718-36.876zm-205.78 0-11.535 12.242 1.0678 34.609 22.361-5.4319 2.2718-36.876z" fill="#0be7f7" stroke="#000" stroke-width=".26458px"/>
          <path class="vitals" transform="matrix(2.2411 0 0 2.2411 -131.38 -141.77)" d="m108.88 130.68 4.0368-1.4544 1.8456-4.9139-2.2511-5.2295-3.642-0.79269-3.6406 0.79901-2.242 5.2334 1.8541 4.9107z" fill="#eeb822" stroke="#000" stroke-width=".26458px"/>
          </g>
        </svg>
      </div>
    </div>
  </div>
  </div>
</form>

