<form class="{{cssClass}}" autocomplete="off">
    <header class="tac-sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name"  />
          <div> 
            <span>{{ localize "TAC.Grade" }}</span>
            <input class="grade-value centered" name="system.grade" type="text" value="{{system.grade}}"/>
          </div> 
          <span class="centered">{{ localize "TAC.Armour" }}</span>
          
          <div class="traits-box">
            <div class="traits-header">Traits</div>
            <div class="traits-list">
              {{#each traits}}
                {{#if addButton}}
                  <div class="trait-icon add-trait-button">
                    <span class="trait-inner"></span>
                  </div>
                {{else if empty}}
                  <div class="trait-icon empty">
                    <span class="trait-inner"></span>
                  </div>
                {{else}}
                  <div class="trait-icon filled" data-name="{{name}}">
                    <img src="{{img}}" title="{{name}}"/>
                  </div>
                {{/if}}
              {{/each}}
            </div>
          </div>
          <input class="centered" name="system.subtype" type="text" value="{{system.subtype}}" placeholder="Sub Type" />
          
          <div class="cost-box">
            <span> Cost </span>
            <input class="attribute-value" name="system.cost" type="number" value="{{system.cost}}" placeholder="{{ localize "TAC.Cost" }}" data-dtype="Number"/>
            <input class="attribute-value" name="system.costBM" type="number" value="{{system.costBM}}" placeholder="{{ localize "TAC.Cost (Black Market)" }}" data-dtype="Number"/>
            <input class="attribute-value" name="system.weight" type="number" value="{{system.weight}}" placeholder="{{ localize "TAC.Weight" }}" data-dtype="Number"/>
          </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">    
      <a class="item" data-tab="attributes">Attributes</a>
      <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
          <div class="tab-block">
            <input class="attribute-value" name="system.slot" type="text" value="{{system.slot}}" placeholder="Slot" />
            
            <div class="attributes-grid"> 
              <span> Gunshot </span>
              <input class="attribute-value" type="number" name="system.gunshot" value="{{system.gunshot}}" min=0 data-dtype="Number"/>
              
              <span> Crushing </span>
              <input class="attribute-value" type="number" name="system.crushing" value="{{system.crushing}}" min=0 data-dtype="Number"/>
              
              <span> Slashing </span>
              <input class="attribute-value" type="number" name="system.slashing" value="{{system.slashing}}" min=0 data-dtype="Number" />
              
              <span> Piercing </span>
              <input class="attribute-value" type="number" name="system.piercing" value="{{system.piercing}}" min=0 data-dtype="Number"/>      
              
              <span> Coverage </span>
              <input class="attribute-value" type="number" name="system.coverage" value="{{system.coverage}}" max=100 min=0 data-dtype="Number"/>

              <span> Durability </span>
              <input class="attribute-value" type="number" name="system.durability" value="{{system.durability}}" min=0 max=100 data-dtype="Number"/>
              
            </div>
          </div>
        </div>
      
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
          {{editor system.description target="system.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
