<form class="{{cssClass}}" autocomplete="off">
    <header class="tac-sheet-header">
       
        <div class="header-fields">
          <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
          <input name="name" type="text" value="{{item.name}}" placeholder="Name"  />
          <div> 
            <span>{{ localize "TAC.Grade" }}</span>
            <input class="grade-value centered" name="system.grade" type="text" value="{{system.grade}}"/>
          </div> 
          <span class="centered">{{ localize "TAC.Firearm" }}</span>
          
          <div class="traits-box">
            <div class="traits-header">Traits</div>
            <div class="traits-list">
              {{#each traits}}
                {{#if addButton}}
                  <div class="trait-icon add-trait-button">
                    <span class="trait-inner"></span>
                  </div>
                {{else if empty}}
                  <div class="trait-icon empty">
                    <span class="trait-inner"></span>
                  </div>
                {{else}}
                  <div class="trait-icon filled {{type}}" data-name="{{name}}">
                    <img src="{{img}}" title="{{name}}"/>
                  </div>
                {{/if}}
              {{/each}}
            </div>
          </div>
          <div class="traits-box">
            <div class="traits-header">Ammo Traits</div>
            <div class="traits-list">
              {{#each ammoTraits}}
                  <div class="trait-icon filled" data-name="{{name}}">
                    <img src="{{img}}" title="{{name}}"/>
                  </div>
              {{/each}}
            </div>
          </div>
          <input style="text-align: center" name="system.subtype" type="text" value="{{system.subtype}}" placeholder="Sub Type" />
          
          <div class="cost-box">
            <span> Cost </span>
            <input class="attribute-value" name="system.cost" type="number" value="{{system.cost}}" placeholder="{{ localize "TAC.Cost" }}" data-dtype="Number"/>
            <input class="attribute-value" name="system.costBM" type="number" value="{{system.costBM}}" placeholder="{{ localize "TAC.Cost (Black Market)" }}" data-dtype="Number"/>
            <input class="attribute-value" name="system.weight" type="number" value="{{system.weight}}" placeholder="{{ localize "TAC.Weight" }}" data-dtype="Number"/>
          </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">    
      <a class="item" data-tab="attributes">Attributes</a>
      <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
          <div class="tab-block">

            <div class="attributes-flexrow">
              <ol class="attributes-list">
                <li class="attribute flexrow">
                  <span>{{ localize "TAC.Damage" }}</span>
                  <span>
                    <span class="attribute-mod">({{system.damage_mod}})</span>
                    <input class="attribute-value" type="number" name="system.damage" value="{{system.damage}}" min="0" data-dtype="Number"/>
                  </span> 
                </li>
                <li class="attribute flexrow">
                  <span>Damage Type</span>
                  <select name="system.damageType">
                    {{#select system.damageType}}
                    {{#each damageTypes}}   
                      <option value="{{value}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                  </select>
                </li>
                <li class="attribute flexrow">
                  <span> Armour Penetration </span>
                  <span>
                    <span class="attribute-mod">({{system.penetration_mod}})</span>
                    <input class="attribute-value" type="number" name="system.penetration" value="{{system.penetration}}" min="0" data-dtype="Number"/>
                  </span> 
                </li>
                <li class="attribute flexrow">
                  <span> Optimal Range </span>
                  <span>
                    <span class="attribute-mod">({{range_mod_readable}})</span>
                    <select name="system.range">
                      {{#select system.range}}
                      {{#each rangeValues}}   
                        <option value="{{value}}">{{name}}</option>
                      {{/each}}
                      {{/select}}
                    </select>
                  </span>
                </li>
                <li class="attribute flexrow">
                  <span> Impact Size </span>
                  <span>
                    <span class="attribute-mod">({{system.impact_mod}})</span>
                    <input class="attribute-value" type="number" name="system.impact" value="{{system.impact}}" min="0" data-dtype="Number"/>
                  </span>
                </li>
                <li class="attribute flexrow">
                  <span>{{ localize "TAC.Recoil" }}</span>
                  <span>
                    <span class="attribute-mod">({{system.recoil_mod}})</span>
                    <input class="attribute-value" type="number" name="system.recoil" value="{{system.recoil}}" min="0" data-dtype="Number"/>
                  </span> 
                </li>
                <li class="attribute flexrow">
                  <span>{{ localize "TAC.Deviation" }}</span>
                  <span>
                    <span class="attribute-mod">({{system.deviation_mod}})</span>
                    <input class="attribute-value" type="number" name="system.deviation" value="{{system.deviation}}" min="0" data-dtype="Number"/>
                  </span>
                </li>
              </ol>
              <ol class="attributes-list">
                <li class="attribute flexrow">
                  <span>{{ localize "TAC.Projectiles" }}</span>
                  <span>
                    <span class="attribute-mod">({{system.projectiles_mod}})</span>
                    <input class="attribute-value" type="number" name="system.projectiles" value="{{system.projectiles}}" min="0" data-dtype="Number"/>
                  </span> 
                </li>
                <li class="attribute flexrow">
                  <span>{{ localize "TAC.SingleShot" }}</span>
                  <input class="attribute-value" type="checkbox" name="system.singleShot" {{checked system.singleShot}} data-dtype="Boolean">
                </li>
                <li class="attribute flexrow">
                  <span>{{ localize "TAC.BurstFire" }}</span>
                  <input class="attribute-value" type="number" name="system.burstFire" value="{{system.burstFire}}" min="0" data-dtype="Number"/>
                </li>
                <li class="attribute flexrow">
                  <span>{{ localize "TAC.FullAuto" }}</span>
                  <input class="attribute-value" type="number" name="system.fullAuto" value="{{system.fullAuto}}" min="0" data-dtype="Number"/>
                </li>
                <li class="attribute flexrow">
                  <span>{{ localize "TAC.Ammo" }}</span>
                  <input type="text" name="system.ammo" value="{{system.ammo}}" />
                </li>
              </ol>
            </div>
          </div>
        </div>
      
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
          {{editor system.description target="system.description" button=true owner=owner editable=editable}}
      </div>
    </section>
</form>
