<form class="{{cssClass}}" autocomplete="off">
    <header class="tac-sheet-header">
       
        <div class="header-fields">
          <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
          <input name="name" type="text" value="{{item.name}}" placeholder="Name"  />
          <div> 
            <span>{{ localize "TAC.Grade" }}</span>
            <input class="grade-value centered" name="system.grade" type="text" value="{{system.grade}}"/>
          </div> 
          <span class="centered">{{ localize "TAC.Melee" }}</span>
          
          <div class="traits-box">
            <div class="traits-header">Traits</div>
            <div class="traits-list">
              {{#each traits}}
                {{#if addButton}}
                  <div class="trait-icon add-trait-button">
                    <span class="trait-inner"></span>
                  </div>
                {{else if empty}}
                  <div class="trait-icon empty">
                    <span class="trait-inner"></span>
                  </div>
                {{else}}
                  <div class="trait-icon filled" data-name="{{name}}">
                    <img src="{{img}}" title="{{name}}"/>
                  </div>
                {{/if}}
              {{/each}}
            </div>
          </div>
          <input style="text-align: center" name="system.subtype" type="text" value="{{system.subtype}}" placeholder="Sub Type" />
          
          <div class="cost-box">
            <span> Cost </span>
            <input class="attribute-value" name="system.cost" type="number" value="{{system.cost}}" placeholder="{{ localize "TAC.Cost" }}" data-dtype="Number"/>
            <input class="attribute-value" name="system.costBM" type="number" value="{{system.costBM}}" placeholder="{{ localize "TAC.Cost (Black Market)" }}" data-dtype="Number"/>
            <input class="attribute-value" name="system.weight" type="number" value="{{system.weight}}" placeholder="{{ localize "TAC.Weight" }}" data-dtype="Number"/>
          </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">    
      <a class="item" data-tab="attributes">Attributes</a>
      <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
          <div class="tab-block">
            
            <div class="attributes-grid"> 
              <span> Piercing Damage </span>
              <input class="attribute-value" type="number" name="system.piercing" value="{{system.piercing}}" min="0" data-dtype="Number"/>

              <span> Reach </span>
              <select name="system.range">
                {{#select system.range}}
                {{#each rangeValues}}   
                  <option value="{{value}}">{{name}}</option>
                {{/each}}
                {{/select}}
              </select>
              
              <span> Slashing Damage </span>
              <input class="attribute-value" type="number" name="system.slashing" value="{{system.slashing}}" min="0" data-dtype="Number"/>
              
              <span> Armour Penetration </span>
              <input class="attribute-value" type="number" name="system.penetration" value="{{system.penetration}}" min="0" data-dtype="Number"/>   
              
              <span> Crushing Damage </span>
              <input class="attribute-value" type="number" name="system.crushing" value="{{system.crushing}}" min="0" data-dtype="Number"/>
              
              <span> Impact Size </span>
              <input class="attribute-value" type="number" name="system.impact" value="{{system.impact}}" min="0" data-dtype="Number"/>   
            </div>
          </div>
        </div>
      
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
