Difficulties typically reach from 1 to 5.
If the successes of the roll minus the difficulty is at least 0, then the action succeeds.



<h5>Major Actions</h5>
Major actions are any action where the outcome has significant impact on the narrative of the story, i.e. any action where failure matters.
A major action which failed can not be repeated 


The degree of success of a roll is determined by subtracting the difficulty from the amount of successes on the dice roll.
For typical actions, the degree of success is limited in effect by the difficulty (or 5, whichever is lower), e.g. the degree of success for a roll with difficulty 3 reaches from -3 (at 0 successes) to +3 (at 6 successes). 
This means that action at a higher difficulty have more potential to either fail or succeed dramatically.
Notable exceptions to this rule are attacks, which are limited at +5 (and do not typically handle negative outcomes).
For each degree of success above 0, the player/character may buy an advantage from the table below (the cost )

<div class="table frHead">
    Cost in successes\Advantage
    1\Minor narrative advantage.
    2\Major narrative advantage.
    3\Permanent narrative advantage.
    5\Major dramatic change.
</div>

If the degree of success for a roll is below 0, the player/character may choose to either fail the action (and potentially retry at a later point in time, if the Storyteller allows this), or succeed but potentially receive a related disadvantage in the process.
For each degree of success below 0, the storyteller may buy a disadvantage from the below.

<div class="table frHead">
    Cost in failures\Disadvantage
    1\Minor narrative disadvantage. Either a small inconvenience (e.g. receive damage), or a major inconvenience which can still be prevented (e.g. alerting a guard).
    2\Major narrative disadvantage. Either a major inconvenience (e.g. triggering the alarm, short-term injury), or a permanent narrative disadvantage which can still be prevented (e.g. ).
    3\Permanent narrative disadvantage, e.g. loosing the trust of a friend, breaking a tool, or receiving a medium-term injury.
    5\Major dramatic change, e.g. making an enemy, loosing access to an area, or receiving a long-term injury.
</div>

