<div class="equipment-pane">
        <div class="character-figure">
          <svg width="100%" height="100%" viewBox="0 0 611 1290" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;">
            <g transform="matrix(1,0,0,1,76.3446,37.1088)">
                <g id="Layer-1" serif:id="Layer 1">
                    <g id="g1039">
                        <g transform="matrix(1,0,0,1,-76.3446,-37.1088)">
                            <path d="M268.826,181.766L264.356,181.853L246.296,137.227L236.489,131.602L237.498,104.198L245.719,104.198L255.356,59.338L305.298,42.543L355.239,59.338L364.875,104.198L373.096,104.198L374.106,131.602L364.298,137.227L345.825,180.273L341.642,180.354L345.704,221.261L305.306,239.326L264.905,221.261L268.826,181.766Z" style="fill:{{color_head}};stroke:black;stroke-width:1px;"/>
                        </g>
                        <g id="path1025" transform="matrix(1,0,0,1,-76.3446,-37.1088)">
                            <path d="M305.297,239.322L264.899,221.261L167.474,283.342L145.222,328.672L215.277,444.058L202.09,594.883L305.298,624.247L408.505,594.883L395.318,444.058L465.373,328.672L443.121,283.342L345.697,221.261L305.297,239.322Z" style="fill:{{color_torso}};fill-rule:nonzero;stroke:black;stroke-width:1px;"/>
                        </g>
                        <g id="path1029" transform="matrix(1,0,0,1,-76.3446,-37.1088)">
                            <path d="M305.296,753.258L284.919,756.014L257.72,934.842L224.199,1146.93L226.647,1176.87L219.95,1197.79L205.416,1266.19L156.573,1252.41L185.072,1190.32L188.473,1167.73L190.962,1149.29L200.864,930.218L180.66,707.372L202.089,594.886L305.297,624.251L305.297,624.306L305.297,624.251L408.503,594.886L429.932,707.387L409.729,930.218L419.626,1149.3L422.116,1167.73L425.518,1190.32L454.017,1252.41L405.174,1266.19L390.639,1197.79L383.942,1176.87L386.394,1146.93L352.874,934.842L325.676,755.996L305.296,753.258Z" style="fill:{{color_legs}};fill-rule:nonzero;stroke:black;stroke-width:1px;"/>
                        </g>
                        <g id="path1027" transform="matrix(1,0,0,1,-76.3446,-37.1088)">
                            <path d="M498.758,695.779L429.407,522.694L395.313,444.047L465.367,328.663L479.526,499.383L529.645,685.872L554.8,712.566L552.472,788.03L503.714,776.186L498.758,695.779ZM106.88,776.186L111.834,695.778L181.186,522.694L215.281,444.047L145.222,328.672L131.068,499.383L80.949,685.872L55.793,712.566L58.122,788.03L106.88,776.186Z" style="fill:{{color_arms}};fill-rule:nonzero;stroke:black;stroke-width:1px;"/>
                        </g>
                    </g>
                </g>
            </g>
          </svg>
        </div>
        <div class="equipment-slots">
          {{#each system.equipmentSlots}}
            <div class="item-cell {{#if item}}filled{{/if}}" data-itemid="{{item.id}}">
              <img src="{{icon}}" alt="{{name}}">
            </span>
            </div>
          {{/each}}
          <div class="repair-armour">
            <img src="systems/tac/icons/gui/repair-armour.svg" alt="Repair armour.">
          </div>
        </div>
      </div>
      <div class="character-inventory">
        <div class="inventory-block">
          <div class="inventory-header">Inventory</div>
          <div class="items-block">
            {{#each system.inventory}}
              <div class="item-cell filled" data-itemid="{{id}}">
                <img src="{{img}}" alt="{{name}}">
                {{#if system.quantity}}<div class="item-quantity">{{system.quantity}}</div>{{/if}}
              </div>
            {{/each}}
          </div>
        </div>
          <div class="inventory-block bags">
            <div class="inventory-header">Bags</div>
            <div class="items-block">
              {{#each system.bagSlots}}
              <div class="item-cell filled" data-itemid="{{id}}">
                <img src="{{img}}" alt="{{name}}">
                {{#if system.quantity}}<div class="item-quantity">{{system.quantity}}</div>{{/if}}
              </div>
              {{/each}}
            </div>
            <div class="weight-display">
              <i class="fas fa-weight-hanging" style="color:{{encumbrance_color}};"></i>
              <div class="weight-bar" style="
              box-shadow: 0 0 5px #000 inset, 0 0 3px 0px {{encumbrance_color}};
              background: linear-gradient(to right, #0000 0%, #0000 calc(25% - 1px), #000f calc(25% - 1px), #000f calc(25% + 1px), #0000 calc(25% + 1px)),
              linear-gradient(to right, #0000 0%, #0000 calc(50% - 1px), #000f calc(50% - 1px), #000f calc(50% + 1px), #0000 calc(50% + 1px)),
              linear-gradient(to right, #0000 0%, #0000 calc(75% - 1px), #000f calc(75% - 1px), #000f calc(75% + 1px), #0000 calc(75% + 1px)),
              linear-gradient(to right, {{encumbrance_color}} 0%, {{encumbrance_color}} {{encumbrance_percentage}}%, var(--color-background-alt) {{encumbrance_percentage}}%, var(--color-background-alt) 100%);"
              >
              </div>
            </div>
          </div>
      </div>