<div class=" kCharaSheet">
    <div class="topCharaBlock">


      <!-- Column #1 -->
      <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}">

      <!-- #4 row -->
      <div class="split grow" style="grid-area: 4 / 2 / 5 / span 4">
        <div class="kInput"><input type="text" ><span>Will to live</span></div>
        <div class="kInput"><input type="text" ><span>Raison D'etre</span></div>
      </div>

      <!-- Column #2 -->
      <div class="kInput"><input type="text" name="name" value="{{actor.name}}"><span>{{ localize "TAC.name" }}</span></div>
      <div class="kInput"><input type="text" name="system.alias" value="{{system.alias}}"><span>{{ localize "TAC.alias" }}</span></div>
      <div class="kInput"><input type="text" name="system.player" value="{{system.player}}"><span>{{ localize "TAC.player" }}</span></div>

      <!-- Column #3 -->
      <div class="split">
        <div class="kInput">
          <div class="niceNumber">
            <input name="system.age" type="number" min="0" max="999" value="{{system.age}}" data-dtype="Number">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div><span>{{ localize "TAC.age" }}</span>
        </div>
        <div class="kInput"><input type="text" name="system.sex" value="{{system.sex}}"><span>{{ localize "TAC.sex" }}</span></div>
      </div>
      <div class="kInput"><input type="text" name="system.race" value="{{system.race}}"><span>{{ localize "TAC.ethnicity" }}</span></div>
      <div class="kInput"><input type="text" name="system.socialType" value="{{system.socialType}}"><span>{{ localize "TAC.socialType" }}</span></div>


      <!-- Column #4 -->
      <div class="kInput labelBig">
        <div class="niceNumber">
          <input name="system.money" type="number" min="-999999999" max="999999999" value="{{system.money}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div><span>¥</span>
      </div>
      <div class="kInput labelBig">
        <div class="niceNumber">
          <input name="system.socialCredits" min="0" max="9999" type="number" value="{{system.socialCredits}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div><span>SC</span>
      </div>
      <div class="kInput labelBig">
        <div class="niceNumber">
          <input name="system.exp" type="number" min="0" max="9999" value="{{system.exp}}" data-dtype="Number">
          <div class="numBtns">
            <div class="plusBtn">+</div>
            <div class="minusBtn">−</div>
          </div>
        </div><span>Exp</span>
      </div>
    </div>

    <div class="bottomCharaBlock">
      <div class="kInput statBox big">
        <h4>{{ localize "TAC.health" }}</h4>
        <div class="split">
          <div class="niceNumber buttonsLeft">
            <input  type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" min="0" max="{{system.health.max_cur}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
          <span class="delimiter"> / </span>
          <div class="max-health niceNumber">
            <input value="{{system.health.max_cur}}" disabled>
            <input class="max-health" value="{{system.health.max}}" disabled>
          </div>
        </div>
      </div>

      <div class="kInput statBox big">
        <h4>{{ localize "TAC.clarity" }}</h4>
        <div class="split">
          <div class="niceNumber buttonsLeft">
            <input name="system.clarity.value" type="number" value="{{system.clarity.value}}" data-dtype="Number" min="0" max="{{system.clarity.max_cur}}">
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
          <span class="delimiter"> / </span>
          <div class="max-health niceNumber">
            <input name="system.clarity.max" value="{{system.clarity.max_cur}}" disabled>
            <input value="{{system.clarity.max}}" disabled>
          </div>
        </div>
      </div>

      <div class="kInput statBox">
        <h4>Other</h4>
        <div class="armourGrid">
          {{#each system.other_traits}}
            <span>{{@key}}</span>
            <span class="attribute-mod {{posneg value base}}">{{value }}</span>
            <div class="niceNumber digits2" >
              <input name="system.other_traits.{{@key}}.base" type="text" placeholder="0" data-dtype="Number" min="-99" max="99" value="{{#if multiplier}}{{numberFormat base decimals=1}}{{else}}{{numberFormat base decimals=0}}{{/if}}">
              <div class="numBtns">
                <div class="plusBtn">+</div>
                <div class="minusBtn">−</div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="kInput statBox">
        <h4> Speed in m </h4>
        <dl class="grid">
          <dt>Run: </dt>
          <dd>
            <div class="niceNumber digits2">
              <input name="system.run" type="number" value="{{system.run}}" readonly>
              <div class="numBtns">
                <div class="plusBtn">+</div>
                <div class="minusBtn">−</div>
              </div>
            </div>
          </dd>
          <dt>Walk: </dt>
          <dd>
            <div class="niceNumber digits2">
              <input name="system.walk" type="number" value="{{system.walk}}" readonly>
              <div class="numBtns">
                <div class="plusBtn">+</div>
                <div class="minusBtn">−</div>
              </div>
            </div>
          </dd>
        </dl>
      </div>

      <div class="kInput statBox">

        <h4>Initiative </h4>
        <div class="kInput margin"><input type="text" name="system.initiative" value="{{system.initiative}}" readonly></div>
      </div>
    </div>
    <div class="progression-block">
      <div class="">
        <span>Level {{system.progression.level}}</span>
        <span class="exp-button">EXP: {{system.progression.exp}}/{{system.progression.exp_needed}}</span>
      </div>
      <div class='xp-bar'>
        <div class='xp-bar-fill' style="width:{{exp_percentage}}%">
          <div class='xp-increase-fx'><div class='xp-increase-fx-flicker'><div class='xp-increase-glow1'></div><div class='xp-increase-glow2'></div><div class='xp-increase-glow3'></div></div><div class='xp-increase-glow2'></div></div>
        </div>
      </div>
    </div>
  </div>
  <span class="sheetMacroList">
    <div class="button sheetMacro rollButton" data-tooltip="Execute Skill test. Rolls the selected Attributes + Skills. Right-click executes a roll without modifiers and target number 6."> 
      <img src="systems/tac/icons/gui/d10.svg" alt="Skill check.">
    </div>
    <div class="button sheetMacro shortRest" data-tooltip="Take a short rest, refilling health and clarity to the current maximum and removing short-term conditions."> 
      <img src="systems/tac/icons/gui/short-rest.svg" alt="Short rest.">
    </div>
    <div class="button sheetMacro longRest" data-tooltip="Take a long rest, regaining a part of the lost maximum health and clarity, and removing medium-term conditions, in addition to the effects of a short rest."> 
      <img src="systems/tac/icons/gui/long-rest.svg" alt="Long rest.">
    </div>
  </span>
  <div class="tab-block">
    <div class="points-box">Attribute Points <span class="points {{#if system.progression.points_attributes}}available{{/if}}">{{system.progression.points_attributes}}</span></div>
    <div class="attributes-flexrow">
      <ol class="attributes-list">
        <li class="attributes-header major flexrow">
          <span class="attribute-header">Physical</span>
        </li>
        <li class="attributes-header flexrow">
          <span class="attribute-key">Attribute</span>
          <span class="attribute-value">Value</span>
        </li>
        {{#each config.attributes_physical as |cvalue ckey|}}
          {{#with (lookup ../system.attributes_physical [ckey])}}
            <li class="attribute flexrow" data-attribute="{{ckey}}">
              <span>
                <input class="attribute-check" id="attributes_physical{{cvalue}}{{../../actor.id}}" data-attribute="{{ckey}}" data-attributeValue={{value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="attributes_physical{{cvalue}}{{../../actor.id}}">{{cvalue}}</label>
              </span>
              <span>
                <span class="attribute-mod {{posneg value base}}">{{convertBase value base}}</span>
                <input class="attribute-value" type="number" name="system.attributes_physical.{{ckey}}.base" value={{base}} data-dtype="Number" min=0 max=999>
              </span>
            </li>
            {{/with}}
          {{/each}}
      </ol>

      <ol class="attributes-list">
        <li class="attributes-header major flexrow">
          <span class="attribute-header">Social</span>
        </li>
        <li class="attributes-header flexrow">
          <span class="attribute-key">Attribute</span>
          <span class="attribute-value">Value</span>
        </li>
        {{#each config.attributes_social as |cvalue ckey|}}
          {{#with (lookup ../system.attributes_social [ckey])}}
            <li class="attribute flexrow" data-attribute="{{ckey}}">
              <span>
                <input class="attribute-check" id="attributes_social{{cvalue}}{{../../actor.id}}" data-attribute="{{ckey}}" data-attributeValue={{value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="attributes_social{{cvalue}}{{../../actor.id}}">{{cvalue}}</label>
              </span>
              <span>
                <span class="attribute-mod {{posneg value base}}">{{convertBase value base}}</span>
                <input class="attribute-value" type="number" name="system.attributes_social.{{ckey}}.base" value={{base}} data-dtype="Number" min=0 max=999>
              </span>
            </li>
            {{/with}}
          {{/each}}
      </ol>

      <ol class="attributes-list">
        <li class="attributes-header major flexrow">
          <span class="attribute-header">Mental</span>
        </li>
        <li class="attributes-header flexrow">
          <span class="attribute-key">Attribute</span>
          <span class="attribute-value">Value</span>
        </li>
        {{#each config.attributes_mental as |cvalue ckey|}}
          {{#with (lookup ../system.attributes_mental [ckey])}}
            <li class="attribute flexrow" data-attribute="{{ckey}}">
              <span>
                <input class="attribute-check" id="attributes_mental{{cvalue}}{{../../actor.id}}" data-attribute="{{ckey}}" data-attributeValue={{value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="attributes_mental{{cvalue}}{{../../actor.id}}">{{cvalue}}</label>
              </span>
              <span>
                <span class="attribute-mod {{posneg value base}}">{{convertBase value base}}</span>
                <input class="attribute-value" type="number" name="system.attributes_mental.{{ckey}}.base" value={{base}} data-dtype="Number" min=0 max=999>
              </span>
            </li>
            {{/with}}
          {{/each}}
      </ol>
    </div>
    <div class="points-box">Skills Points <span class="points {{#if system.progression.points_skills}}available{{/if}}">{{system.progression.points_skills}}</span></div>
    <div class="attributes-flexrow">
      <ol class="attributes-list">
        <li class="attributes-header flexrow">
          <span class="attribute-key">Skill</span>
          <span class="attribute-value">Value</span>
        </li>
        {{#each config.skills_physical as |cvalue ckey|}}
          {{#with (lookup ../system.skills_physical [ckey])}}
            <li class="attribute flexrow" data-attribute="{{ckey}}">
              <span>
                <input class="attribute-check" id="skills_physical{{cvalue}}{{../../actor.id}}" data-attribute="{{ckey}}" data-category="physical" data-attributeValue={{value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="skills_physical{{cvalue}}{{../../actor.id}}">{{cvalue}}</label>
              </span>
              <span>
                <span class="attribute-mod {{posneg value base}}">{{convertBase value base}}</span>
                <input class="attribute-value" type="number" name="system.skills_physical.{{ckey}}.base" value={{base}} data-dtype="Number" min=0 max=999>
              </span>
            </li>
            {{/with}}
          {{/each}}
      </ol>

      <ol class="attributes-list">
        <li class="attributes-header flexrow">
          <span class="attribute-key">Skill</span>
          <span class="attribute-value">Value</span>
        </li>
        {{#each config.skills_social as |cvalue ckey|}}
          {{#with (lookup ../system.skills_social [ckey])}}
            <li class="attribute flexrow" data-attribute="{{ckey}}">
              <span>
                <input class="attribute-check" id="skills_social{{cvalue}}{{../../actor.id}}" data-attribute="{{ckey}}" data-category="social" data-attributeValue={{value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="skills_social{{cvalue}}{{../../actor.id}}">{{cvalue}}</label>
              </span>
              <span>
                <span class="attribute-mod {{posneg value base}}">{{convertBase value base}}</span>
                <input class="attribute-value" type="number" name="system.skills_social.{{ckey}}.base" value={{base}} data-dtype="Number" min=0 max=999>
              </span>
            </li>
            {{/with}}
          {{/each}}
      </ol>

      <ol class="attributes-list">
        <li class="attributes-header flexrow">
          <span class="attribute-key">Skill</span>
          <span class="attribute-value">Value</span>
        </li>
        {{#each config.skills_mental as |cvalue ckey|}}
          {{#with (lookup ../system.skills_mental [ckey])}}
            <li class="attribute flexrow" data-attribute="{{ckey}}">
              <span>
                <input class="attribute-check" id="skills_mental{{cvalue}}{{../../actor.id}}" data-attribute="{{ckey}}" data-category="mental" data-attributeValue={{chooseNum value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="skills_mental{{cvalue}}{{../../actor.id}}">{{cvalue}}</label>
              </span>
              <span>
                <span class="attribute-mod {{posneg value base}}">{{convertBase value base}}</span>
                <input class="attribute-value" type="number" name="system.skills_mental.{{ckey}}.base" value={{base}} data-dtype="Number" min=0 max=999>
              </span>
            </li>
            {{/with}}
          {{/each}}
      </ol>
    </div>
  </div>