@import url(https://fonts.googleapis.com/css?family=Play);

:root {
  /**
  --color-background: #00101a;
  --color-background-glow: #a2d8f0;
  **/
  /**
  --color-background: #021615;
  --color-background-glow: #00bfc7;
  --color-background-shadow: #9ecaed;
  --color-header-background: #05343a;
  --color-accent-pos: #295f08;
  --color-accent-pos-glow: #56ce0c;
  --color-accent-neu: #023731;
  --color-accent-neu-glow: #a2d7ca;
  --color-accent-neg: #391203;
  --color-accent-neg-glow: #ff9a83;
  **/
  /**
  --color-background: #130f1d;
  --color-background-alt: #1d0a10;
  --color-background-glow: #40bfa8;
  --color-background-shadow: #31835f;
  --color-header-background: #130f1d;
  --color-accent-pos: #00290d;
  --color-accent-pos-glow: #34ca6a;
  --color-accent-neu: #03312c;
  --color-accent-neu-glow: #40bfa8;
  --color-accent-neg: #521b2c;
  --color-accent-neg-glow: #921a1d;
  --color-accent-neg-faint: #921a1d3b;
  --color-text-dim: #ffffffb8;
  **/
  
  --color-background: #111111; /** #1d2123 and #151515 for text inputs **/
  --color-background-alt: #074754;
  --color-background-glow: #fcee09;
  --color-background-shadow: #31835f;
  --color-header-background: #130f1d;
  --color-accent-pos: #00290d;
  --color-accent-pos-glow: #34ca6a;
  --color-accent-neu: #03312c;
  --color-accent-neu-glow: #26ccee;
  --color-accent-neg: #6f0000;
  --color-accent-neg-glow: #fe0100;
  --color-accent-neg-faint: #921a1d3b;
  --color-text-dim: #ffffffb8;


  --color-border-highlight: #26ccee;

}
#chat-controls div.roll-type-select select {
  color: #fff;
  background: rgba(0, 0, 0, 0.05);
  border-color: var(--color-background-glow);
  border-style: solid;
  box-shadow: 0 0 4px var(--color-background-shadow), inset 0 0 2px var(--color-background-shadow);
  text-shadow: 0 0 3px var(--color-background-shadow);
  border-width: 1px;
}

body {
  font-family: Play;
  color: white;
}

input[type="number"] {
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-accent-neu-glow);
  font-weight: bold;
  margin-block-end: .3em;
}

h1 {
  border-bottom: 2px solid var(--color-accent-neu-glow);
  font-size: 2em;
}

h2 {
  border-bottom: 1px solid var(--color-accent-neu-glow);
  font-size: 1.6em;
}

h3 {
  border-bottom: 1px solid var(--color-accent-neu-glow);
  font-size: 1.37em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.12em;
}

.directory .directory-item .document-name {
  font-weight: normal;
  font-size: inherit;
  color: inherit;
}

button:hover {
  box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
}
a:hover, .sheet.journal-entry .pages-list .page-heading .page-number:hover, .sheet.journal-entry .pages-list .page-heading .page-title:hover {
  text-shadow: 0 0 10px var(--color-accent-neu-glow);
  -webkit-text-stroke: 0.5px var(--color-accent-neu-glow);
}

.sound  .sound-name {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.playlist-name {
  color: var(--color-accent-neu-glow);
  font-weight: inherit;
  font-size: inherit;
}

form .notes, select, textarea, label, #player-config label, form .form-header, #module-management .package-list .package-title, #module-management .package-list .package-metadata, #module-management .package-list .package-description {
  color: #fff;
}
input[type="text"], input[type="number"], .sidebar-tab .directory-header .header-search input, button{
  color: #fff;
  background: rgba(0, 0, 0, 0.05);
  border-color: var(--color-background-alt);
  border-style: solid;
  /*border-radius: 2px; */
  border-width: 1px;
  width: auto;
}
.sidebar-tab .directory-header .header-search input {
  width: calc(100% - 26px);
}

button {
  border-radius: 0;
}

input::placeholder, .inactive-mag {
  /*color: rgba(255, 255, 255, 0.4);*/
  color: var(--color-accent-neg-glow);
  opacity: 0.45;
}

#chat-form textarea {
  background: rgba(0, 0, 0, 0.05);
}
label, select {
  background: var(--color-background);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="datetime-local"]:focus {
  box-shadow: 0 0 5px var(--color-accent-neu-glow);
}


img {
  border: none;

}

.centered {
  text-align: center;
}

.window-app .window-content, select option {
  background: var(--color-background);
  color: #fff;
  
}

.app {
  background: var(--color-header-background);
  border: 1px solid var(--color-accent-neu-glow);
  box-shadow: 0px 0px 5px var(--color-accent-neu-glow);
}



.worldbuilding.dialogue .window-content {
    padding: 5px;
    /**overflow-y: hidden;**/
  overflow: visible;
}

.worldbuilding.dialogue .dialoguePane{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.worldbuilding.dialogue .paneColumn{
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.worldbuilding.dialogue .paneBlock{
  margin: 2rem 2rem 2rem 2rem;
}
#aimLocation{ 
  height:4px; 
  width:4px; 
  position:absolute; 
  top:0; 
  left:0; 
  background: white; 
  z-index: 100;
} 

#hitBoi{ 
  height:9px; 
  width:9px; 
  position:absolute; 
  top:-50px; 
  left:-50px; 
  background: red; 
  z-index: 100;
} 
#HITME{
  position: relative;
  border-color: var(--color-background-glow);
  border-style: solid;
  box-shadow: 0 0 4px var(--color-background-shadow), inset 0 0 2px var(--color-background-shadow);
  text-shadow: 0 0 3px var(--color-background-shadow);
  border-width: 1px;
}


.worldbuilding.sheet .window-content {
    padding: 5px;
    /*overflow-y: hidden;*/
}

/* Sheet Header */
.worldbuilding.sheet .tac-sheet-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 100px;
    margin-bottom: 10px;
}

.worldbuilding.sheet .header-fields {
  display: grid;
  grid-template-columns: auto minmax(160px, auto) auto auto;
  grid-gap: 5px 5px;
}

.worldbuilding.sheet .profile-img {
  grid-row: 1 / span 4;
  height: 150px;
  width: 150px;
  margin-right: 10px;
}




.worldbuilding.sheet .charname {
    height: 60px;
    padding: 5px;
    margin: 0;
    border-bottom: 0;
}
.worldbuilding.sheet .charname input {
    width: 100%;
    height: 100%;
    margin: 0;
}


/* Navigation Tabs */
.worldbuilding.sheet .tabs {
  flex: 0 0 40px;
  border-bottom: 1px solid var(--color-accent-neu-glow);
  margin: 0-5px;
  height: auto;
  border-top: none;
  padding: 0;
}

.worldbuilding.sheet .tabs .item {
  font-weight: bold;
  border: 1px solid var(--color-accent-neu-glow);
  border-bottom: none;
  margin: 4px;
  width: 200px;
  color: var(--color-accent-neu-glow);
  padding: 5px 0;
}

.worldbuilding.sheet .tabs .item:hover {
  box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
  text-shadow: none;
  margin-bottom: 0;
}

.worldbuilding.sheet .tabs .item.active {
  text-shadow: none;
  background: var(--color-accent-neu-glow);
  color: var(--color-accent-neu);
  margin-bottom: 0;
}

/* Content Tabs */
.worldbuilding.sheet .sheet-body {
   /** height: calc(100% - 160px); **/
}
.worldbuilding.sheet .sheet-body .tab {
    height: 100%;
}
.worldbuilding.sheet .sheet-body .editor {
    width: 100%;
    height: 100%;
}

.worldbuilding.sheet .sheet-body .tab.active {
  padding-top: 10px;
  background: var(--color-background);
}


/* Items */
.worldbuilding.sheet .items-table {
  display: flex;
  flex-direction: column;
  
}
.worldbuilding.sheet .items-subTable {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: minmax(60px, auto) repeat(auto-fit, minmax(40px, auto)) [end-3] minmax(0px, 1fr) [end-3] minmax(0px, auto) [end-2] minmax(20px, auto) [end-1] minmax(20px, auto) [end];
  grid-template-rows: 30px;
  grid-auto-columns: minmax(40px, auto);
  grid-auto-flow: row;
  margin: 2px 2px 2px 2px;
  /* border-color: var(--color-background-glow); */
  border: 1px solid var(--color-accent-neu-glow);
  border-style: solid;
  /* border-radius: 0.5px; */
  /* box-shadow: 0 0 3px var(--color-background-glow), inset 0 0 3px var(--color-background-glow); */
  /* border-width: 2px; */
  box-shadow: 0px 0px 5px var(--color-accent-neu-glow);
  align-items: center;
  grid-gap: 10px 0px;
  padding-bottom: 5px;
  align-items: stretch;

}
.worldbuilding.sheet .items-subTable .cell{
  padding: 0 5px 0;
  color: #fff;
  /**text-shadow: 0 0 5px var(--color-background-shadow);**/
  text-align: center;
  border-bottom: 2px solid var(--color-accent-neg-faint);
  display: flex;
  align-items: center;
  justify-content: center;
}

.worldbuilding.sheet .items-subTable .cell.equipped{
  padding-bottom: 1.3rem;
}

.worldbuilding.sheet .items-subTable .cell.magCol{
  grid-column: span 2;
}

.worldbuilding.sheet .items-subTable .cell.first{
  text-align: start;
}
.worldbuilding.sheet .items-subTable .cell.lastRow{
  border-bottom: none;
}

.worldbuilding.sheet .items-subTable .cell.edit-delete {
  grid-column: end-1 / end;
}
.worldbuilding.sheet .items-subTable .cell .equipped {
  grid-column: end-2 / end-1;
  margin: 3px auto;
}

.worldbuilding.sheet .items-subTable .item-edit{
  padding: 4px 6px 4px;
}

.worldbuilding.sheet .items-subTable .item-delete{
  padding: 4px 6.75px 4px;
  margin-left: 4px;
}

.worldbuilding .item-reload, .tokenHotBar .item-reload {
  background: var(--color-accent-neu);
  border-color: var(--color-accent-neu-glow);
  border-style: solid;
  box-shadow: 0 0 10px var(--color-accent-neu-glow);
  border-width: 1px;
  text-align: center;
  padding: 6px 6.875px 5px;
  margin-left: 4px;
}

.worldbuilding .item-reload.reloaded, .tokenHotBar .item-reload.reloaded {
  background: var(--color-accent-neg);
  border-color: var(--color-accent-neg-glow);
  border-style: solid;
  box-shadow: 0 0 10px var(--color-accent-neg-glow);
  border-width: 1px;
  text-align: center;
  padding: 6px 7.75px 5px;
  margin-left: 4px;
  /* transform: rotate(180deg); */
}

.worldbuilding .item-reload.reloaded, .tokenHotBar .item-reload.reloaded:before {
  display: block;
  transform: scaleY(-1);
}

.worldbuilding .checkButton { 
  display: none;
}

.worldbuilding .checkButton + label {
  background: var(--color-background);
  color: #fff;
  text-align: center;
  border-color: var(--color-background-glow);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  width: 5rem;
  height: 2rem;
  padding-top: 0.4rem;
}

.worldbuilding .checkButton:checked + label {
    background: var(--color-accent-pos);
    border-color: var(--color-accent-pos-glow);
    box-shadow: 0 0 4px var(--color-background-shadow), inset 0 0 2px var(--color-background-shadow);
    text-shadow: 0 0 3px var(--color-background-shadow);
}

.aiming-reticule {
  position: absolute;
  top: -13px;
  left: -13px;
}


.worldbuilding.sheet .items-subTable .cell.freespace{
  grid-column: end-3 / end-2;
}

.worldbuilding.sheet .items-subTable .cell.header.item-create{
  background: var(--color-accent-pos);
  grid-column: end-1 / end;
  margin: 2px 2px 2px 2px;
  color: white;
  border-color: var(--color-accent-pos-glow);
}
.worldbuilding.sheet .items-subTable .cell.header.equipped{
  grid-column: end-2 / end-1;
}
.worldbuilding.sheet .items-subTable .cell.header.first {
  color: white;
  background: repeating-linear-gradient( -45deg, #26ccee0f, #26ccee29 20px);
  border: 1px solid var(--color-accent-neu-glow);
  font-weight: bold;
  box-shadow: 0 0 5px var(--color-accent-neu-glow);
  margin: 2px 2px 2px 2px;
}

.worldbuilding.sheet .items-subTable .cell.header.first:after {
  content: '-';
}
.worldbuilding.sheet .items-subTable .cell.header.first.collapsed:after {
  content: '+';
}

.worldbuilding.sheet .items-subTable .cell.header {
  grid-row: 1 / 1;
  background: var(--color-background);
  color: #fff;
  /* margin: 2px 2px 2px 2px; */
  padding: 1px 6px 0 6px;
  color: var(--color-accent-neu-glow);
  border-color: var(--color-accent-neu-glow);
  /* border-style: solid; */
  /* border-radius: 2px; */
  /* box-shadow: 0 0 4px var(--color-background-shadow), inset 0 0 2px var(--color-background-shadow); */
  /* text-shadow: 0 0 3px var(--color-background-shadow); */
  border-width: 1px;
  line-height: 23px;
}

/* Attributes */
.worldbuilding.sheet .attributes-flexrow {
  display: flex;
  flex-direction: row;
  margin-left:-1rem;
}

.worldbuilding.sheet .attributes-flexrow:first-child{
  margin-bottom: 1.5rem;
}


.worldbuilding.sheet .attribute-label { 
    flex: 1.5;
}
.worldbuilding.sheet .attribute-control { 
    flex: 0 0 20px;
}

.worldbuilding.sheet .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1 0 0;
}

.worldbuilding.sheet .attributes-list li { 
  display:flex; 
  margin-left:1rem;
  padding:.1rem 0; 
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--color-accent-neg-faint);
}

.worldbuilding.sheet .attributes-list li > * {
  display: block;
    background: transparent;    
}

.worldbuilding.sheet .attributes-list li span:first-child {
  flex: 1 0 auto; 
}
.worldbuilding.sheet .attributes-list li span:last-child {
  flex: 0 0 0; 
  display: flex;
  justify-content: flex-end;
}

.worldbuilding .attribute-mod {
  margin-right: 1rem;
  text-align: center;
  align-self: center;
  color: var(--color-accent-pos-glow);
}

.worldbuilding .attribute-mod.negative {
  color: var(--color-accent-neg-glow);
}
.worldbuilding.sheet .attributes-list li input[type="number"]{
  width: 2.5rem;
  background: rgba(0, 0, 0, 0.05);
  border-color: var(--color-background-alt);
  box-shadow: none;
  text-align: center;
}

.worldbuilding.sheet .attributes-list li input[type="number"]:hover {
  box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
}

.worldbuilding.sheet .attributes-list li input[type="number"]:not([value='0']){
  max-width: 2.5rem;
  background: var(--color-background-alt);
  border-color: var(--color-accent-neu-glow);
  /* box-shadow: 0 0 10px var(--color-accent-neu-glow); */
}
/**
.worldbuilding.sheet .attributes-list li input[type="number"]{
  max-width: 2.5rem;
}
**/

.worldbuilding.sheet .attributes-list li input[type="number"] .usedAttribute{
  background: var(--color-accent-neu);
  border-color: var(--color-accent-neu-glow);
  box-shadow: 0 0 10px var(--color-accent-neu-glow);
}

.worldbuilding.sheet .attribute-value {
  text-align: right;
}


.worldbuilding.sheet .attributes-list li a.attribute-control {
    border: none;
}

.worldbuilding.sheet .attributes-list li.attributes-header { 
  padding: 5px 0;
  text-align: center;
  letter-spacing: 1px;
  color: var(--color-accent-neu-glow);
  border-bottom: 2px solid var(--color-accent-neu-glow);
}

.worldbuilding.sheet .attributes-list li.attributes-header.major { 
  border-bottom: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.worldbuilding.sheet .attributes-list .attribute-key {
    text-align: start;
}

.worldbuilding.sheet .attributes-grid { 
  display: grid;
  grid-template-columns: auto auto auto auto;
  /*grid-template-rows: repeat(auto-fill, 20px);*/
  grid-gap: 5px 5px;
  
}
.worldbuilding.sheet .damageType-checkButton { 
  display: none;
}

.worldbuilding.sheet .damageType-checkButton + label{ 
  height: 30px;
  width: 30px;
  display: inline-block;
  padding: .25rem .25rem .05rem .25rem;
  background: var(--color-background);
  /**border: 1px solid#ddd;**/
  line-height: 18px;
  color: #fff;
  text-align: center;
  border-color:var(--color-background-glow);
  border-style: solid;
  border-width: 1px;
  
}


.worldbuilding.sheet .damageType-checkButton:checked + label {
  background: var(--color-accent-pos);
  border-color:var(--color-accent-pos-glow);
  box-shadow: 0 0 4px var(--color-background-shadow), inset 0 0 2px var(--color-background-shadow);
  text-shadow: 0 0 3px var(--color-background-shadow);
  
}

.worldbuilding.sheet input.attribute-value[type="number"], .worldbuilding.sheet .grade-value {
  max-width: 2.5rem;
}


   
.worldbuilding.sheet .trait-box {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}

.worldbuilding.sheet .cost-box {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}

.worldbuilding.sheet .items-subTable .cell.item-name{
  grid-column: 1 / 1;
  cursor: pointer;
  justify-content: start;
}

.worldbuilding .button {
  cursor: pointer;
}

.worldbuilding .item-image {
  flex: 0 0 35px;
  background-size: 35px;
  margin-right: 5px;
  display: inline-block;
  height: 35px;
  Width: 35px;
}
.worldbuilding .items-subTable .cell.item-name span{
  vertical-align: .5rem;
}
.worldbuilding .item-name:hover span {
  color: var(--color-accent-neu-glow);
}

.worldbuilding .item-name:hover .item-image {
  background-image: url("/icons/svg/d20-grey.svg") !important;
}
.worldbuilding .item-name .item-image:hover {
  background-image: url("/icons/svg/d20-black.svg") !important;
}


.worldbuilding.dialogue input[type="number"]{
  max-width: 3rem;
  text-align: center;
  margin-right: 1rem;
  margin-left: 0.5rem;
  height: 3rem;
}
.worldbuilding.dialogue h3{
  text-align: center;
}

.worldbuilding .heatBar {
  height: 20px; 
	position: relative;
	background: #555;
	border-radius: 5px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  padding: 1px;
  width: 100%;
  cursor: pointer;
}

.worldbuilding .heatBar > span {
  display: block;
  height: 100%;
  border-radius: 5px;
  background-color: var(--color-accent-neg-glow);
  /**
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4); **/
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px var(--color-accent-neg-glow);
}

.sheetMacroList {
  display: flex;
  flex-direction: row;
}

.sheetMacroList .sheetMacro {
  flex: 0 0 50px;
  height: 50px;
  width: 50px;
  /* border-right: 1px solid var(--color-accent-neu-glow); */
  /* border: none; */
  box-shadow: 0 0 5px #000 inset;
  /* margin: -1px; */
  cursor: pointer;
  /* margin: 0 1px; */
  border: 1px solid #000;
  background: var(--color-background-alt);
  
}
.sheetMacroList .sheetMacro > img {
  border: none;
  max-width: 100%;
}

.sheetMacroList .sheetMacro:hover {
  box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
  border: 1px solid var(--color-accent-neu-glow);
}

.worldbuilding .attribute-check { 
  display: none;
}

.worldbuilding .attribute-check:hover + label{
  text-shadow: 0 0 10px var(--color-accent-neu-glow);
  -webkit-text-stroke: 0.5px var(--color-accent-neu-glow);
  /**
  height: 30px;
  width: 30px;
  display: inline-block;
  padding: .25rem .25rem .05rem .25rem;
  background: var(--color-background);
  line-height: 18px;
  color: #fff;
  text-align: center;
  border-color:var(--color-background-glow);
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  **/
}
.worldbuilding .attribute-check:checked + label{
  color: var(--color-accent-neu-glow);
  text-shadow: 0 0 10px var(--color-accent-neu-glow);
  /**
  background: var(--color-accent-pos);
  border-color:var(--color-accent-pos-glow);
  box-shadow: 0 0 4px var(--color-background-shadow), inset 0 0 2px var(--color-background-shadow);
  text-shadow: 0 0 3px var(--color-background-shadow);
  **/
}

/* Attack Dialogue */
.kUltraBlock h3,.kUltraBlock h4{ padding:0; margin:0; border:0; font:inherit; }
.kUltraBlock h3{
  font-size: 150%;
  text-align: center;
  padding: 0 0 .75rem 0;
}
.kUltraBlock h3:first-child{
  padding-top:0;
}
.kUltraBlock h4{
  font-size:112.5%
}
.kUltraBlock .flexBlock{
  display: flex;
}
.kUltraBlock .flexBlock.spaceTop{
  padding-top:1.5rem;
}
.kUltraBlock .flexBlock h4{
  text-align: center;
  /* padding-bottom: 5rem; */
  position: relative;
  margin: -.8rem;
  padding: 0 5px 0;
  background: var(--color-background);
}
.kUltraBlock .flexBlock > div{
  flex:1 0 auto;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.kUltraBlock .flexBlock > div > div{
  display:flex;
  align-items: stretch;
}
.kUltraBlock .kCenter{ text-align:center; }
.kUltraBlock input::-webkit-outer-spin-button,
.kUltraBlock input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.kUltraBlock input[type=number] {
  -moz-appearance: textfield;
}
.kUltraBlock .niceNumber{
  display:flex;
  align-items: stretch;
}
.kUltraBlock .niceNumber .theNumber{
  position:relative;
}
.kUltraBlock .niceNumber .theNumber,
.kUltraBlock .niceNumber input[type="number"]{
  padding:0;  margin:0;  border:0;  outline:0;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  width:3rem;
  height:3rem;
  line-height:3rem;
  font-size:150%;
  text-align:center;
  background:transparent;
  color:inherit;
  overflow:visible;
  box-shadow:inset 0 0 0 1px var(--color-accent-neu-glow);

}
.kUltraBlock .niceNumber .theNumber input[type="number"]{
  font-size:100%;
  position:absolute;top:0;left:0;
  box-sizing:border-box;
  padding-left:.75rem;
  caret-color:#eee;
  color:transparent;
}
.kUltraBlock .niceNumber input[type="number"][readonly]{
  color: var(--color-accent-neu-glow);
}
.kUltraBlock .niceNumber input[type="number"] ~ .theNumber,
.kUltraBlock .niceNumber input[type="number"] ~ .theNumber input[type="number"]{
  box-shadow:inset -1px -1px 0 0 var(--color-accent-neu-glow),
    inset 0 1px 0 0 var(--color-accent-neu-glow);
}
.kUltraBlock .niceNumber.noBtns > div.numBtns{
  display:none;
}
.kUltraBlock .niceNumber > div.numBtns{
  display:flex;
  flex-direction: column; 
}
.kUltraBlock .niceNumber > div.numBtns > div{
  height:1.5rem;
  width:1.5rem;
  line-height:1.5rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  flex:1 0 1.5rem;
  box-shadow:inset -1px -1px 0 0 var(--color-accent-neu-glow);
}
.kUltraBlock .niceNumber > div.numBtns > div.plusBtn{
  box-shadow:
    inset -1px -1px 0 0 var(--color-accent-neu-glow),
    inset 0  1px 0 0 var(--color-accent-neu-glow);
}
.kUltraBlock .niceNumber > div.numBtns > div:hover{
  background:#074754;
}

.buttonset{
  background:var(--bg-c-input);
  display:inline-flex;
  border:1px solid var(--color-accent-neu-glow);
}

.buttonset.vertical {
  flex-direction: column;
}

.cover-list .buttonset {
  border: 1px solid var(--color-background-alt);
}

.cover-list .buttonset span:hover {
  box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
}

.cover-strength-list .buttonset label {
  height: 27px;
  width: 27px;
}

.cover-chance-list .buttonset label {
  height: 20px;
  width: 20px;
}

.cover-list .buttonset img {
  padding: 2px;
}

.cover-list {
  margin-right: 5px;
}
.cover-list .buttonset input:checked + span{
  background: var(--color-accent-neu-glow);
}


.cover-list .buttonset span {
  display: block;
  height: 100%;
  padding: 0;
}

.buttonset input{
  display:none
}
.buttonset span{
  display:block;
  color:var(--NOTHING);
  font-size:100%;
  padding:.5rem .625rem;
  cursor:pointer;
}
.buttonset span:hover{
  background:var(--color-background-alt);
}
.buttonset input:checked + span{
  background:var(--color-background-alt);
  color:var(--NOTHING);
}

.kUltraBlock dl{
  display:grid;
  width:100%;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 0;
  margin-top: 0.25rem;
  
}
.kUltraBlock dt, .kUltraBlock dd{ margin:0; padding:.5rem; }
.kUltraBlock dl.largeTitles dt{
  font-size:125%;
}
.kUltraBlock .megaBtn{
  padding:1rem;
}
.kUltraBlock .megaBtn button{
  margin: 0;
  outline: 0;
  padding: 2rem;
  cursor:pointer;
  font-size:150%;
  border: 1px solid var(--color-accent-pos-glow);
  background: var(--color-accent-pos);
  color: inherit;
  border-radius: 0;
}
.kUltraBlock .megaBtn button:hover{
  box-shadow: 0 0 3px 0 var(--color-accent-pos-glow),
    0 0 10px 0 var(--color-accent-pos-glow);
}

.fancyCheckbox + label {
  padding:.125rem 0 .125rem 2em;
  font-size:125%;
  position:relative;
  cursor:pointer;
}
.fancyCheckbox{
  display:none;
}
.fancyCheckbox[disabled] + label{
  opacity:.6;
}
.fancyCheckbox + label:before{
  content:'';
  position:absolute;
  top:.15em;
  left:.25em;
  height:1em;
  width: 1em;
  border:1px solid var(--color-accent-neu-glow);
}
.fancyCheckbox + label:after{
  content: '🗙';
  position: absolute;
  top: .2em;
  left: .30em;
  /*
  height: .8em;
  width: .4em;
  border: .8175em solid var(--color-accent-neu-glow);
  border-width: 0 .125em .125em 0;
  transform: rotate(45deg);
  */
  color:var(--color-accent-neu-glow);
  display:none;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-shadow: 0 0  5px var(--color-accent-neu-glow);

}
.fancyCheckbox:checked  + label:before{
  /*background: var(--color-accent-neu-glow);*/
}
.fancyCheckbox:checked  + label:after{
  display:block;
}

.kUltraBlock p{
  margin:0;
  padding-bottom:1rem;
} 

.kUltraBlock .flexBlock .groupBox {
  border: 1px solid var(--color-accent-neu-glow);
  align-items: flex-start;
  margin: 2px;
  padding: 1rem 5px 1px 2px;
  flex-direction: row;
}
.kUltraBlock .flexBlock .groupBox > div{
  flex-direction: column;
}



#sidebar-tabs > .item.active {
  border: 1px solid var(--color-accent-neu-glow);
  box-shadow: 0 0 6px inset var(--color-accent-neu-glow);
}

#sidebar-tabs {
  border-bottom: 1px solid var(--color-accent-neu-glow);
  box-shadow: 0 0 10px var(--color-accent-neu-glow);
}

#chat-form textarea:focus {
  outline: 1px solid var(--color-accent-neu-glow);
  box-shadow: 0 0 6px inset var(--color-accent-neu-glow);
}

#chat-log {
  background: var(--color-background);
}

#chat-log .message {
  border: 2px solid #26cceead;
  color: white;
  border-radius: 0;
  padding: 0;
  background: none;
}

#chat-log .message.whisper {
  background: var(--color-background-alt);
  border: 2px dashed #26cceead;
}

#chat-log .message.whisper.blind {
  border-color: var(--color-header-background);
}

#chat-log .message .message-content {
 padding: 5px; 
}

#chat-log .message .message-content >* {
 margin: -5px; 
}

#chat-log .message .message-header {
  color: var(--color-accent-neu-glow);
  padding: 5px;
  background: repeating-linear-gradient( -45deg, #26ccee0f, #26ccee29 20px);
  border-bottom: 2px solid #26cceead;
  margin-bottom: 5px;
}

.roll-type-select .fa-dice-d20 {
  height: 25px;
  width: 25px;
  position: relative;
}

.roll-type-select .fa-dice-d20:before {
  content: url(../icons/gui/d10.svg) !important;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 2px;
  top: 3px;
}

.roll-type-select .fas.fa-dice-d20:hover {
  color: var(--color-accent-neu-glow);
  cursor: pointer;
  filter: invert(65%) sepia(50%) saturate(683%) hue-rotate(146deg) brightness(196%) contrast(95%);
  
}

.worldbuilding .shortAction-card {
  background: repeating-linear-gradient( -45deg, #26ccee0f, #26ccee29 20px);
}

::-webkit-scrollbar-thumb {
  border: 1px solid var(--color-accent-neu-glow);
  background: var(--color-accent-neu);
}

.dice-roll .dice-formula, .dice-roll .dice-total {
  margin: 0;
  flex: 0;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-bottom: 5px;
  padding: 2px 20px 2px;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-top: 1px solid #26cceead;
  border-bottom: 1px solid #26cceead;
  word-break: break-all;
  box-shadow: none;
  border-radius: 0;
}

.worldbuilding.chat-card {
  /**
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-around;
  **/
}

.worldbuilding.chat-card .roll-result {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-bottom: 5px;
  padding: 2px 20px 2px;
  width: 200px;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #26cceead;
  word-break: break-all;
}
.worldbuilding.chat-card .card-content {
  margin-bottom: 5px;
  flex: 0 0 100%;
  position: relative;
  margin: 0;
  line-height: 24px;
  background: rgba(0, 0, 0, 0.1);
  /* border: 1px solid #999; */
  border-top: 1px solid #26cceead;
  /* border-radius: 3px; */
  /* box-shadow: 0 0 2px #FFF inset; */
  word-break: break-all;
  padding: 5px;
}


.worldbuilding.chat-card .card-content .total-dmg {
  font-size: 20px;
  font-weight: bold;
}
.worldbuilding.chat-card .card-content .attacks-total {
  display: flex;
  flex-flow: row;
  font-size: 20px;
  font-weight: bold;
}
.worldbuilding.chat-card .card-content .attacks-total .damage-inflict {
  background: var(--color-accent-neg);
  border-color: var(--color-accent-neg-glow);
  box-shadow: 0 0 10px var(--color-accent-neg-glow);
}

.worldbuilding.chat-card .card-content .attacks-total .damage-heal {
  background: var(--color-accent-pos);
  border-color: var(--color-accent-pos-glow);
  box-shadow: 0 0 10px var(--color-accent-pos-glow);
}

.attacks-result > li.wrong-target {
  color: var(--color-accent-neg-glow);
}


.worldbuilding.chat-card .card-content .attacks-total .button {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  margin: 0 5px 9px;
  padding: 6.5px 6px 6.5px;
  font-size: 10px;
}
.worldbuilding.chat-card .card-content .attacks-total .button:last-child{
  margin-bottom: 0;
}
.worldbuilding.chat-card .card-content .attacks-total > div > label{
  line-height: 28px;
  margin: 0 8px 5px;
}




.worldbuilding.chat-card .card-content .attacks-total > div{
  display:flex;
  flex-flow: column;
}

.worldbuilding.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 1px solid #26cceead;
  margin: 0 5px 0;
  flex: auto;
}

.worldbuilding.chat-card .card-footer > span {
  border-right: 1px solid #26cceead;
  padding: 0 5px 0 0;
  font-size: 10px;
  color: #26cceead;
}
.worldbuilding.chat-card .card-footer > span:last-child {
  border-right: none;
  padding-right: 0;
}

.worldbuilding .weaponList td > * {
  vertical-align: middle;
}

.kCharaSheet,
    .kCharaSheet *{
      box-sizing:border-box;
      margin: 0; padding: 0; border: 0; outline: 0; text-indent: 0;
      font-size: 100%; font-weight: inherit; font-style: inherit; line-height: inherit;
      text-decoration: inherit; letter-spacing:inherit; color:inherit;
      vertical-align: baseline; width: auto; height: auto;
      cursor: normal;background:transparent;
    }
    .kCharaSheet{
      padding:1rem;
      width:fit-content;
    }
    .kCharaSheet .topCharaBlock{
      display:grid;
      grid-auto-flow: column;
      grid-template-columns: min-content 4fr 3fr 2fr;
      grid-template-rows: repeat(4,1fr);
      align-items: stretch;
      padding:1px 0 0 1px;
    }
    .kCharaSheet .topCharaBlock > img{
      width: 10rem;
      height: 10rem;
      object-fit: cover;
      align-self: flex-start;
      grid-row-end: span 4;
      border: 1px solid var(--color-background-alt);
      margin-right:.5rem;
      max-width: none;
    }
    .kCharaSheet input{
      background:transparent;
      color:inherit;
      font: inherit;
      border:0; padding:0; margin:0;
    
    }
    .kCharaSheet .topCharaBlock > * {
      margin:-1px 0 0 -1px;
    }
    .kCharaSheet .kInput{
      position:relative;
      border:1px solid var(--color-background-alt);
      
    }
    .kCharaSheet .kInput.noBorder{
      border:0;
    }
    .kCharaSheet .kInput.margin{
      margin:.5rem;
    }
    /*
    .kCharaSheet > div > span:before{
      content:'';
      display:block;
      position:absolute;
      top:0;
      left:-.75rem;
      border-top:1.25rem solid var(--color-accent-neu-glow);
      border-left:.75rem solid var(--color-background-alt);
    }
    */
    .kCharaSheet .kInput  > input{
      width:100%;
      height:100%;
      padding:.375rem .5rem 0;
      outline:0;
      /* z-index:2; */
      position:relative;
    }
    .kCharaSheet .kInput:hover:after,
    .kCharaSheet .kInput:focus-within:after{
      pointer-events: none;
      position: absolute;
      content: '';
      border: 1px solid var(--color-accent-neu-glow);
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      z-index: 9999;
      box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
    }
    
    .kCharaSheet .kInput > span{
      position:absolute;
      top:0;
      right:0;
      
      background:var(--color-background-alt);
      color:var(--color-accent-neu-glow);
      /*color:var(--color-background);*/
      font-size:75%;
      /* line-height:1; */
      padding: 0 .125rem 1px .25rem;
      border-bottom-left-radius: 5px;
      letter-spacing: 1px;
      /* z-index:1; */
    }
    .kCharaSheet .kInput:hover > span,
    .kCharaSheet .kInput:focus-within > span{
      display:flex;
      background:var(--color-accent-neu-glow);
      color:var(--color-background);
    }
    .kCharaSheet .kInput.labelBig{
      display:flex;
    }
    .kCharaSheet .kInput.labelBig > span{
      position:static;
      font-size:100%;
      letter-spacing: normal;
      border-radius: 0;
      display:flex;
      align-items:  center;
      justify-content: center;
      padding:.375rem .25rem 0 .375rem;
      min-width:2.5rem;
      color:inherit;
    }
    
    .kCharaSheet .kInput.labelBig:hover > span,
    .kCharaSheet .kInput.labelBig:focus-within > span{
      color: var(--color-background);
    }
    
    .kCharaSheet .split{ 
      display:flex;
      flex: 1;
    }
    .kCharaSheet .split .kInput{
      margin-left:-1px;
    }
    .kCharaSheet .split .kInput:first-of-type{
      margin-left:0;
    }
    .kCharaSheet .split .kInput .niceNumber{
      width:min-content;
    }
    .kCharaSheet .split.grow > *{
      flex-grow: 1;
    }
    
    
    
    .kCharaSheet .niceNumber input::-webkit-outer-spin-button,
    .kCharaSheet .niceNumber input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .kCharaSheet .niceNumber input[type=number] {
      -moz-appearance: textfield;
    }
    .kCharaSheet .niceNumber{
      display:flex;
      align-items: stretch;
      padding-right:2rem;
      width:100%;
    }
    .kCharaSheet .kInput.labelBig .niceNumber{
      padding-right:0;
    }
    
    
    .kCharaSheet .niceNumber input[type="number"]{
      padding:0;  margin:0;  border:0;  outline:0;
      font-feature-settings: "tnum";
      font-variant-numeric: tabular-nums;
      text-align:right;
      background:transparent;
      color:inherit;
      overflow:visible;
      min-width:3.5rem;
      width:100%;
      padding: .375rem .5rem 0 0;
    }
    .kCharaSheet .niceNumber > div.numBtns{
      display:flex;
      flex-direction: column;
    }
    .kCharaSheet .kInput .niceNumber > div.numBtns{
      visibility: hidden;
    }
    .kCharaSheet .kInput:focus-within .niceNumber > div.numBtns,
    .kCharaSheet .kInput:hover .niceNumber > div.numBtns{
      visibility: visible;
    }
    .kCharaSheet .niceNumber.noBtns > div.numBtns,
    .kCharaSheet .niceNumber input[readonly] ~ .numBtns{
      visibility: hidden !important;
    }
    .kCharaSheet .niceNumber > div.numBtns > div{
      padding:0 .25rem;
      text-align: center;
      cursor: pointer;
      user-select: none;
      flex:1 0 0;
    }
    .kCharaSheet .niceNumber > div.numBtns > div:hover{
      background:#074754;
    }
    .kCharaSheet .niceNumber.buttonsLeft > div.numBtns{
      order: -1;
    }
    
    .kCharaSheet .bottomCharaBlock{
      display:flex;
      justify-content:space-between;
      align-items: stretch;
      padding-top:.5rem;
    }
    .kCharaSheet .bottomCharaBlock > *{
      /*flex-grow:1;*/
    }
    .kCharaSheet .bottomCharaBlock .niceNumber{
      padding-right: 0;
    }
    .kCharaSheet .statBox{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .kCharaSheet .bottomCharaBlock .statBox:nth-of-type(n+2){
      margin-left:.5rem;
    }
    .kCharaSheet .statBox .niceNumber{
      width:auto;
    }
    .kCharaSheet .statBox .niceNumber input{
      /* min-width:0; */
      /* min-width: 2rem; */
      max-width: 3em;
      text-align: center;
      padding:0;
      align-self: center;
    }
    .kCharaSheet .statBox .niceNumber.digits2{
      width:3rem;
    }
    .kCharaSheet .statBox h4{
      margin:0;
      padding:.5rem 0 .5rem 0 ;
      font-size:100%;
      font-weight: normal;
      text-align: center;
      background: var(--color-background-alt);
      color: var(--color-accent-neu-glow);
    }
    .kCharaSheet .statBox.big{
      font-size:150%;
    }
    .kCharaSheet .statBox.big h4{
      /* margin:0 0 -.5rem 0; */
      padding:1rem 0;
    }
    .kCharaSheet .statBox.big .delimiter{
      font-size:150%;
      padding:0 .25rem 0 .25rem;
    }
    .kCharaSheet .statBox .split{
      align-items: start;
      justify-content: center;
      padding-top: 0.5em;
    }
    .kCharaSheet .statBox .split > *{
      /*flex:0 0 auto;*/
      font-size: 1rem;
    }

    .niceNumber.max-health {
      flex-direction: column;
    }

    .niceNumber.max-health > *:nth-child(2) {
      color: var(--color-accent-neu-glow);
    }
    
    .kCharaSheet .armourGrid{
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(2,auto 2rem 3rem);
      align-items: center;
      height: 5rem;
      padding-left: 5px;
      overflow-y: scroll;
      overflow-x: hidden;
      justify-items: center;
    }
    .kCharaSheet .armourGrid > span{
      padding: 0;
      margin: 0;
    }
    .kCharaSheet dl.grid{
      display:grid;
      justify-content:space-between;
      align-items: center;
      grid-template-columns: repeat(2,auto);
    }
    .kCharaSheet dl.grid dt{
      padding-left:.5rem;
    }

    .cyberButton {
      background: var(--color-accent-neu);
      border-color: var(--color-accent-neu-glow);
      border-style: solid;
      border-width: 1px;
      text-align: center;
      padding: 4px 6px 4px;
    }

    .cyberButton:hover {
      box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
      border: 1px solid var(--color-accent-neu-glow);
    }

    .cyberButton.neg {
      background: var(--color-accent-neg);
      border-color: var(--color-accent-neg-glow);
    }

    .cyberButton.neg:hover {
      box-shadow: 0 0 10px var(--color-accent-neg-glow) inset;
    }

    .cyberButton.pos {
      background: var(--color-accent-pos);
      border-color: var(--color-accent-pos-glow);
    }

    .cyberButton.pos:hover {
      box-shadow: 0 0 10px var(--color-accent-pos-glow) inset;
    }

/* Tooltips */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: var(--color-background);
  color: #fff;
  border-radius: 0;
  position: absolute;
  z-index: 1;
  width: 250px;
  /* bottom: 100%; */
  right: calc(125px - 50%);
  left: calc(-125px + 50%);
  /* margin-left: -90px; */
  font-family: "Signika", sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.2;
  /* border: 2px solid #26cceead; */
  white-space: normal;
  pointer-events: none;
  bottom: 140%;
  text-align: left;
  border: 1px solid var(--color-background-alt);
  padding: .8rem;
}

.tooltip .tooltip-text.multi {
  padding: 0;
}

.tooltip .tooltip-text.ability, .tooltip-text .box.ability {
  background: var(--color-background-alt);
  box-shadow: inset 0 0 2px 1px var(--color-accent-neu-glow);
}

.tooltip .tooltip-text:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 15px solid var(--color-background-alt);
  bottom: -15px;
  /* right: calc(50% - 15px); */
  right: calc(max(90px , 50%) - 15px);
}


.tooltip.left .tooltip-text {
  right: 105%;
  margin-left: -195px;
  bottom: auto;
  left: auto;
  top: auto;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  transition-delay: 0.4s; 
}

.tooltip-text .box{
  padding: .8rem;
}

.tooltip.fast:hover .tooltip-text {
  transition-delay: 0s; 
}

.tooltip-text .title {
  display: block;
  color: var(--color-accent-neu-glow);
  font-size: 1.2em;
  border-bottom: 1px solid var(--color-accent-neu-glow);
  padding-bottom: .2em;
}

.tooltip-text .description {
  margin-top: .5em;
  display: block;
}

.tooltip-text .stat {
  color: var(--color-text-dim);
  display: block;
}

.tooltip-text .stat:first-of-type {
  margin-top: .5rem;
}

.tooltip-text .cost-row {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  justify-content: space-between;
}

.tooltip-text .ticks-cost {
  color: var(--color-text-dim);
}

.tooltip-text .clarity-cost {
  color: var(--color-text-dim);
}


.tooltip-text .ticks-cost:before {
  content: '\f017';
  font-family: "Font Awesome 5 Free";
  padding-right: .5em;
}

.tooltip-text .clarity-cost:before {
  content: '\f0e7';
  font-family: "Font Awesome 5 Free";
  padding-right: .5em;
}

/* Token macro bar */

.tokenHotBar {
  position: fixed;
  bottom: 70px;
  left: 258px;
  /* width: 502px; */
  flex-wrap: nowrap;
  font-weight: bold;
  /* border: var(--border-sheet-block); */
  /* border: 2px solid var(--color-accent-neu-glow); */
  /* box-shadow: 0 0 3px var(--color-accent-neu-glow); */
  
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  
}

.tokenHotBar .hotbar {
  display: flex;
  flex-direction: row;
  border-radius: 0;
  box-shadow: 0px 0px 5px var(--color-accent-neu-glow);
}

.tokenHotBar .hotbar-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.condition-bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  align-self: flex-start;
}

.condition-icon {
  background: var(--color-accent-neu);
  padding: 1px;
  margin: 2px;
  display: flex;
  box-shadow: 0px 0px 5px var(--color-accent-neu-glow);
  border-radius: 50%;
  position: relative;
}

/* .condition-icon .condition-tick {
  position: absolute;
  font-size: large;
  bottom: -4px;
  right: 0;
  color: white;
  -webkit-text-stroke: 0.5px var(--color-accent-neu-glow);
} */

.condition-icon .condition-duration {
  position: absolute;
  font-size: medium;
  font-family: 'Signika';
  font-weight: normal;
  line-height: 14 px;
  font-size: 14px;
  top: -10px;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
  color: white;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  border-radius: 100%;
}

.condition-icon .condition-duration .fa-clock {
  margin-left: .2em;
  font-size: .8em;
}

.condition-icon .intensity-bar {
  position: absolute;
  height: 5px;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%);
}

.condition-icon:hover {
  outline: 2px solid white;
}

.condition-icon:hover .tooltip-text {
  filter: none;
}

.traits-list .trait-icon.good-1 {
  background: var(--color-accent-neu);
  box-shadow: 0px 0px 5px #26ccee;
}

.traits-list .trait-icon.good-2 {
  background: var(--color-accent-pos);
  box-shadow: 0px 0px 5px #34ca6a;
}

.traits-list .trait-icon.good-3 {
  background: #0a2f04;
  box-shadow: 0px 0px 5px #43ee26;
}

.traits-list .trait-icon.bad-1 {
  background: #727407;
  box-shadow: 0px 0px 5px #fedf00;
}

.traits-list .trait-icon.bad-2 {
  background: #744d07;
  box-shadow: 0px 0px 5px #fe7500;
}

.traits-list .trait-icon.bad-3 {
  background: var(--color-accent-neg);
  box-shadow: 0px 0px 5px #fe0100;
}

.condition-icon.trait {
  border: none;
  box-shadow: none;
  background: url(../icons/gui/hex.svg);
  background-size: 100% 100%;
}

.condition-icon.trait img {
  border: none;
  padding: 2px;
}

.condition-icon img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  /* border: none; */
  border: 1px solid var(--color-accent-neu-glow);
  padding: 1px
}

/* .condition-icon.pos img, .context-items .context-item img.pos, .traits-list .trait-icon.pos img{
  border-color: var(--color-accent-pos-glow);
}

.condition-icon.severe img, .context-items .context-item img.severe, .traits-list .trait-icon.severe img{
  border-color: var(--color-accent-neg-glow);
} */
.condition-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.condition-line .condition-name {
  color: var(--color-accent-neu-glow);
}

.tokenHotBar .heatBar {
  height: 48px;
  position: relative;
  background: #555;
  border-radius: 0;
  box-shadow: inset 0 -1px 1px rgb(255 255 255 / 30%);
  padding: 1px;
  width: 6px;
  margin: auto;
  margin-left: 8px;
  cursor: pointer;
}

.tokenHotBar .heatBar > .bar {
  display: block;
  width: 4px;
  border-radius: 0;
  position: absolute;
  overflow: hidden;
  bottom: 1px;
  max-height: 46px;
}


.tokenHotBar .heatBar.heat-low > .bar {
  background-color: var(--color-accent-neu-glow);
  box-shadow: 0 0 10px var(--color-accent-neu-glow);
}

.tokenHotBar .heatBar.heat-medium > .bar {
  background-color: #fe7500;
  box-shadow: 0 0 10px #fe7500;
}

.tokenHotBar .heatBar.heat-high > .bar {
  background-color: var(--color-accent-neg-glow);
  box-shadow: 0 0 10px var(--color-accent-neg-glow);
}

.tokenHotBar .heatBar .heatNum {
  color: white;
  position: absolute;
  /* display: initial; */
  font-size: smaller;
  bottom: -14px;
  left: 5px;
}

.tokenHotBar .skillBar {
  flex: 1;
  padding: 10px;
  background: var(--color-background);
  align-items: center;
  justify-content: center;
  display: flex;
}
.tokenHotBar .weapon-container {
  padding: 10px;
  background: var(--color-background);
  box-shadow: inset 0px 0px 3px 1px black;
  align-content: space-around;
  display: flex;
  flex-direction: row;
}

.tokenHotBar .weapon-container > .weapon {
  display: flex;
  height: 62px;
  flex-direction: column;
  border: 1px solid var(--color-background-alt);
  box-shadow: inset 0 -5px 3px -3px var(--color-accent-neu-glow);
}

.tokenHotBar .weapon-container .ammoCounter {
  text-align: center;
  color: white;
  margin: 0;
  font-size: larger;
  margin: auto;
  margin-left: 10px;
}

.ammoCounter .upper {
  font-size: large;
}

.ammoCounter .lower {
  font-weight: normal;
}

.tokenHotBar .weapon-container h4 {
  margin: 0;
  background: var(--color-background-alt);
  color: var(--color-accent-neu-glow);
  text-align: center;
}

.tokenHotBar .weapon-container .icon {
  width: 56px;
  height: 56px;
  cursor: pointer;
  background-size: contain;
}

.tokenHotBar .weapon-container .icon:hover {
  background-image: url(../icons/gui/swap-weapon.svg) !important;
}

.tokenHotBar .weapon-container .item-reload{
  color: white;
  height: 29.75px;
  margin: auto;
  margin-left: 10px;
  cursor: pointer;
}


.skillBar > h4 {
  text-align: center;
  color: white;
  /* border-bottom: none; */
  margin: 0;
  /* border: var(--border-sheet-block); */
  border-bottom: 1px solid #000;
  background: var(--color-background);
  line-height: 1.3rem;
  padding: 0 1.4rem;
}

.skillBar .macro-list {
  list-style: none;
  margin: 0;
  /* padding: 2px 8px; */
  /* border: var(--border-sheet-block); */
  background: var(--color-background);
  padding: 0;
  margin-right: -2px;
  flex-wrap: nowrap;
}


.macro-list .macro {
  flex: 0 0 50px;
  height: 50px;
  width: 50px;
  /* border-right: 1px solid var(--color-accent-neu-glow); */
  /* border: none; */
  box-shadow: 0 0 5px #000 inset;
  /* margin: -1px; */
  cursor: pointer;
  /* margin: 0 1px; */
  border: 1px solid #000;
  background: var(--color-background-alt);
}

.macro-list .macro.unavailable {
  background: #0747544d;
}
.macro-list .macro.unavailable img {
  opacity: 0.3;
}

.macro-list .macro.unavailable:hover {
  box-shadow: 0 0 10px var(--color-accent-neg-glow) inset;
  border: 1px solid var(--color-accent-neg-glow);
}

.macro-list .macro:nth-child(10n + 1) {
  margin-left: -1px;
}

/* .skillBar .macro .tooltip-text {
  display: block;
  min-width: 148px;
  height: 26px;
  padding: 2px 4px;
  top: -32px;
  left: -50px;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid #191813;
  border-radius: 3px;
  color: #f0f0e0;
  line-height: 22px;
  white-space: nowrap;
  word-break: break-all;
  margin-left: 0;
} */

.macro-list .macro.sheetMacro {
  background: var(--color-background-alt);
}
.macro-list .macro.unequipped > img{
  opacity: 0.5;
}

.macro-list .macro:hover {
  box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
  border: 1px solid var(--color-accent-neu-glow);
}

.macro-list .macro img {
  border: none;
  max-width: 100%;
  padding: 2px;
}

.skillBar .settings {
  float: right;
  padding: 2px 3px;
  /* border-left: 2px solid #000; */
  /* border-bottom: 2px solid #000; */
  /* background: #000; */
  cursor: pointer;
  line-height: 17px;
  /* margin-right: .5rem; */
  position: absolute;
  right: 0;
  top: 0;
}

.skillBar .settings:hover {
  text-shadow: 0 0 8px red;
}

.skillBar .settings-menu {
  border: none;
  background: url(../../ui/denim075.png) repeat, #150f11c2;
  /* margin-right: 2px; */
  min-width: auto;
  min-height: auto;
  text-shadow: none;
  cursor: default;
  text-align: left;
  border-radius: 3px;
  display: none;
  position: absolute;
  transform: translate(2px,-100%);
  padding: .5rem;
  right: 0;
  top: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.skillBar .settings-menu ul {
  margin-left: 1.4rem;
  line-height: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.skillBar .settings-menu ul > li{
  width: auto;
  white-space: nowrap;
  cursor: pointer;
}

.skillBar .settings-menu ul > li .fas{
  width: 14px;
}
.skillBar .settings-menu ul > li:hover{
  text-shadow: 0 0 8px red;
}

/* Combat tracker */
.combat-sidebar #combat-tracker {
  color: white;
}
#combat-tracker .ticks-input {
  width: 2.5rem;
  text-align: center;
  height: 26px;
  border-radius: 0;
  color: inherit;
}

#combat-tracker .ticks-input:focus {
  box-shadow: inset 0 0 5px var(--color-accent-neu-glow);
}

#combat-tracker .ticks-input[value='0'] {
  background: var(--color-accent-neu);
}
#combat-tracker .token-ticks {
  flex: 0 1 4.6rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.combat-sidebar li.combatant .token-initiative {
  width: 48px;
}

#combat-tracker .ticks-sign {
  background: var(--color-background-alt);
  padding: 0px 4px;
  margin-left: -6px;
  flex: 0;
  line-height: 26px;
  height: 26px;
}

#combat li.combatant.active {
  border-color: var(--color-accent-neu-glow);
  background: var(--color-accent-neu);
}

#combat li.combatant .token-name h4 {
  text-overflow: ellipsis;
}

/* Basic Stylings */

.button.neutral {
  box-shadow: 0 0 10px var(--color-accent-neu-glow);
  border: 1px solid var(--color-accent-neu-glow);
  text-align: center;
  background: var(--color-accent-neu);
}

.button.neutral:hover {
  background-color: var(--color-accent-neu-glow);
}

/* Reload/Weapon switcher */

.worldbuilding.dialogue .dialoguePane.weaponSwitch {
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.equipList {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.equipList > li {
  margin-bottom: 2px;
  background: var(--color-background-alt);
  padding: 5px;
  display: flex;
  align-items: center;
}

.equipList > li:hover {
  background-color: var(--color-accent-neu-glow);
}

.equipList > li .item-name {
  margin-left: .5rem;
}

.equipList > li .ammo-count {
  margin-left: auto;
}

.unequipWeapon {
  width: 100%;
  padding: .4rem 0;
}
/* Inventory */
.worldbuilding.sheet .sheet-body .tab.active.items {
  display: flex;
  flex-direction: row;
}
.items-block {
  width: 508px;
  height: 222px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid var(--color-accent-neu-glow); */
  align-content: flex-start;
  flex: 1;
  /* padding: 5px; */
}

.item-cell, .equipment-slot {
  height: 60px;
  width: 60px;
  padding: 5px;
  border: 1px solid var(--color-accent-neu-glow);
  margin: 5px;
  box-shadow: 0 0 5px var(--color-accent-neu-glow) inset;
  position: relative;
}

.item-cell .item-quantity {
  bottom: 0px;
  left: 0px;
  position: absolute;
  /* width: 15px; */
  height: 16px;
  line-height: 16px;
  text-align: center;
  padding: 0 4px;
  background: var(--color-accent-neu);
  pointer-events: none;
  color: var(--color-accent-neu-glow);
}

.character-inventory {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  height: 500px;
}

.inventory-block {
  border: 1px solid var(--color-accent-neu-glow);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
}

.inventory-block.bags {
  margin-top: 5px;
  height: 170px;
}

.inventory-header {
  text-align: center;
  border: 1px solid var(--color-accent-neu-glow);
  padding: 5px 5rem;
  flex: 0 0 0px;
}





.item-cell:hover {
  box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
}

.item-cell > img {
  border: none;
}
.equipment-pane {
  height: 500px;
  border: 1px solid var(--color-accent-neu-glow);
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.equipment-slots {
  display: flex;
  flex-direction: column;
}

.character-figure > img {
  height: 498px;
}

.repair-armour {
  height: 30px;
  width: 30px;
  padding: 2px;
  border: 1px solid var(--color-accent-neu-glow);
  margin: 5px;
  box-shadow: 0 0 4px var(--color-accent-neu-glow) inset;
}

.repair-armour:hover {
  box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
}

.tippy-box[role~='tooltip'] {
  background-color: var(--color-background);
  color: #fff;
  border-radius: 0;
  border: 1px solid var(--color-background-alt);
  padding: .8rem;
}

.tippy-box[role='tooltip'][data-placement^='top'] > .tippy-arrow:before {
  border-top-color: var(--color-background-alt);
}
.tippy-box[role='tooltip'][data-placement^='bottom'] > .tippy-arrow:before {
  border-bottom-color: var(--color-background-alt);
  content: "";
}
.tippy-box[role='tooltip'][data-placement^='left'] > .tippy-arrow:before {
  border-left-color: var(--color-background-alt);
  content: "";
}
.tippy-box[role='tooltip'][data-placement^='right'] > .tippy-arrow:before {
  border-right-color: var(--color-background-alt);
  content: "";
}

.tippy-box[data-placement^=top]>.tippy-arrow {
  bottom: -1px;
}






.traits-box {
  display: flex;
  flex-direction: column;
}

.traits-box .traits-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  align-self: flex-start;
  width: 136px;
  flex-wrap: wrap;
}

.traits-list .trait-icon {
  background: var(--color-accent-neu);
  padding: 1px;
  margin: 2px;
  display: flex;
  box-shadow: 0px 0px 5px var(--color-accent-neu-glow);
  border-radius: 50%;
  position: relative;
  height: 30px;
  width: 30px;
}

.traits-list .trait-icon.empty {
  background: none;
  box-shadow: none;
}

.traits-list .trait-icon.add-trait-button {
  background: none;
  box-shadow: none;
}

.traits-list .trait-icon img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid var(--color-accent-neu-glow);
  padding: 1px;
  max-width: none;
}

.traits-list .trait-icon .trait-inner {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid #9f9d93;
  padding: 1px;
}

.traits-list .add-trait-button .trait-inner {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid #9f9d93;
  padding: 1px;
}

.traits-list .add-trait-button:hover .trait-inner {
  border: 1px solid #bbb9ab;
}
.traits-list .add-trait-button:hover {
  cursor: pointer;
  background: var(--color-background-alt);
}

.tippy-box[role="contextmenu"] {
  background: #111111de;
  color: #fff;
  /* border: 1px solid #26ccee; */
  /* box-shadow: 0px 0px 5px var(--color-accent-neu-glow); */
  box-shadow: 0 0 5px var(--color-accent-neu-glow) inset;
  border-radius: 0;
  width: auto;
  align-items: center;
  padding: 0;
  max-height: 400px;
  overflow: auto;
}

.tippy-content {
  padding: 0;
}

.tippy-box .context-items {
  margin: 0;
  padding: 4px;
}

.tippy-box .context-item {
  display: flex;
  align-items: center;
  line-height: 24px;
  border: 1px solid var(--color-accent-neu-glow);
  box-shadow: 0 0 5px var(--color-accent-neu-glow) inset;
  margin-bottom: 4px;
  padding: 2px 5px;
}

.tippy-box .context-item:last-child {
  margin-bottom: 0;
}

.tippy-box .context-item:hover {
  background: var(--color-accent-neu-glow);
  cursor: pointer;
}

.tippy-box .context-item img{
  margin-right: 0.5rem;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid var(--color-accent-neu-glow);
  padding: 1px;
  max-width: none;
}

.tippy-box .context-item.red {
  /* text-shadow: 0 0 1px var(--color-accent-neg); */
  /* color: var(--color-accent-neg-glow); */
  border: 1px solid var(--color-accent-neg-glow);
  box-shadow: 0 0 5px var(--color-accent-neg-glow) inset;
}

.tippy-box .context-item.red:hover {
  background: var(--color-accent-neg-glow);
}

.damage-effects {
  margin: 0px;
  padding: 0px;
}

.damage-effect {
  display: flex;
  align-items: center;
}

.damage-effect .condition-icon{
  width: 30px;
}

.weight-display {
  display: flex;
  align-items: center;
}

.weight-display i {
  margin-right: 9px;
}

.weight-bar {
  height: 10px;
  width: 300px;
  box-shadow: 0 0 5px #000 inset;
  border: 1px solid #000;
}

.text-highlight {
  color: var(--color-accent-neu-glow);
}


.xp-bar{
  height:10px;
  width:75%;
  background:var(--color-background-alt);
  margin:0px 0px 0px 15px;
  display:inline-block;
  vertical-align:middle;
}

.xp-bar-fill{
  height:100%;
  width:0.1%;
  background:var(--color-accent-neu-glow);
  font-size:12px;
  line-height:10px;
  text-align:right;
  box-shadow: 0 0 10px var(--color-accent-neu-glow);
}

.xp-increase-fx{
  position:relative;
  display:none;
  height:100%;
}

.xp-increase-glow1{
  position:absolute;
  margin:0px 0px 0px -2px;
  left:0px;
  top:0px;
  background:#fff;
  width:5px;
  height:100%;
  border-radius:0px;
  -webkit-filter:blur(2px);
}

.xp-increase-glow2{
  position:absolute;
  margin:-5px 0px 0px -2px;
  left:0px;
  top:0px;
  background:#aaf;
  width:5px;
  height:200%;
  border-radius:0px;
  -webkit-filter:blur(10px);
}

.xp-increase-glow3{
  position:absolute;
  margin:0px 0px 0px -5px;
  left:0px;
  top:0px;
  background:#fff;
  width:10px;
  height:100%;
  border-radius:5px;
  -webkit-filter:blur(5px);
}

















/*##############################*
||                            ||
||        Talent Trees        ||
||                            ||
*##############################*/

.nodes-tree {
  margin: 4px;
  position: relative;
}

.node {
  position: absolute;
  background: #444444;
  padding: .5rem;
  border: 1px solid var(--color-background-alt);
  background: var(--color-background-alt);
  width: 60px;
  height: 60px;
  display: flex;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  
}

.node.trained {
  border-color: #26ccee;
  box-shadow: 0 0 5px var(--color-accent-neu-glow);
  background: var(--color-accent-neu-glow);
  color: white;
}
.node.unavailable {
  opacity: 0.3;
}

.node:hover {
  border-color: #26ccee;
  box-shadow: 0 0 5px var(--color-accent-neu-glow);
  cursor: pointer;
}

.node.selected {
  border-color: #26ccee;
  outline: 4px double #26ccee;
  box-shadow: 0 0 5px var(--color-accent-neu-glow) inset;
}

.node .levels {
  bottom: 0px;
  right: 0px;
  position: absolute;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background: var(--color-accent-neu);
  pointer-events: none;
  color: var(--color-accent-neu-glow);
  text-shadow: 0 0 1px var(--color-accent-neu-glow);
}

.skill-tree {
  position: relative;
  flex: 1;
  margin-top: 30px;
  margin-left: 30px;
  overflow: auto;
}
.nodes-connections {
  position: absolute;
  stroke: #074754;
  stroke-width: 6;
  stroke-linecap: butt;
  stroke-linejoin: butt;
  fill: none;
  margin: 4px;
}

.nodes-connections .trained {
  stroke: var(--color-accent-neu-glow);
  filter: drop-shadow( 0 0 5px var(--color-accent-neu-glow));
}
.nodes-connections .unavailable {
  opacity: 0.3;
}

.nodes-connections .horizontal {
  stroke-linecap: butt;
}

.worldbuilding.sheet .window-content > * {
  display: flex;
  flex-direction: column;
}

.worldbuilding.sheet .sheet-body {
  flex: 1;
}

.worldbuilding.sheet .sheet-body .tab {
  height: 100%;
  width: 100%;
}

.worldbuilding.sheet .talent-tree-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.tree-selection {
  border: 1px solid var(--color-background-alt);
  padding: 7px;
  margin-bottom: 5px;
  overflow-y: scroll;
  height: 100%;
}

.tree-selection > div {
  text-align: center;
  border: 1px solid var(--color-accent-neu-glow);
  padding: 5px 5rem;
}

.tree-selection > div:hover {
  box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
}

.tree-selection > div.active {
  background: var(--color-accent-neu-glow);
  color: var(--color-accent-neu);
}

.talent-tree-pane {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.talent-description-pane {
  height: 200px;
  border: 1px solid var(--color-background-alt);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.talent-name {
  background: var(--color-background-alt);
  color: var(--color-accent-neu-glow);
  font-weight: normal;
  text-align: center;
  padding: .25rem;
}

.talent-description {
  padding: 0 .5rem;
}

.talent-description-next {
  padding: 0 .5rem;
  color: #018b7c;
  padding-top: 1rem;
}

.talent-description-pane .button-row {
  margin-top: auto;
  display: flex;

}

.talent-description-pane .button-row > div {
  flex:1 1 0;
  padding:1rem;
  justify-content: flex-end;
  padding: 10px 5px;
  display: flex;
}

.talent-description-pane .button-row .middle-button{
  display:flex;
  flex-direction:column;
  place-items:center;
}

.talent-description-pane .talent-remove-button {
  height: 40px;
  width: 40px;
  border: 1px solid var(--color-accent-neg-glow);
  background: var(--color-accent-neg);
}

.talent-description-pane .talent-remove-button i {
  pointer-events: none;
}

.talent-description-pane .talent-remove-button:hover {
  box-shadow: 0 0 10px var(--color-accent-neg-glow) inset;
}

.talent-description-pane .talent-button {
  text-align: center;
  border: 1px solid var(--color-accent-neu-glow);
  padding: 5px 5rem;
  background: var(--color-accent-neu);
  white-space: nowrap;
}

.talent-description-pane .talent-button:hover {
  box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
}

.points-box {
  background: var(--color-background-alt);
  border: 1px solid var(--color-accent-neu-glow);
  width: fit-content;
  padding: 2px;
  margin-top: 10px;
}
.points-box .points {
  color: var(--color-accent-neu);
  font-weight: bold;
  letter-spacing: 1px;
}

.points-box .points.available {
  color: var(--color-accent-neu-glow);
}



.icon-puncture .path1::before {
  color: #096800;
  text-shadow: 0 0 1px #16ff00;
}

.icon-thermal .path1::before {
  color: #AE5400;
  text-shadow: 0 0 1px #FF7B00;
}

.icon-impact .path1::before {
  color: #4d4d4d;
  text-shadow: 0 0 1px #d5d5d5;
}

.icon-ballistic .path1::before {
  color: #264c77;
  text-shadow: 0 0 1px #55a5ff;
}

.icon-cut .path1::before {
  color: #86231E;
  text-shadow: 0 0 1px #FF4A41;
}

/*##############################*
||                            ||
||          Journals          ||
||                            ||
*##############################*/

.sheet.journal-entry .journal-entry-content {
  background: var(--color-background); 
  color: #fff;
  /* background: #2f3136;
  color: #5dbcd2; */
}

.sheet.journal-entry .journal-entry-content h1, h2, h3, h4, h5, h6 {

}

.sheet.journal-entry .journal-entry-content em {
  color: var(--color-background-glow);
}

.sheet.journal-entry .journal-header .title {
  width: 100%;
}

.mce-content-body  {
  color: white;
}


section.secret {
  background: var(--color-accent-neg-faint);
}

section.secret.revealed {
  background: var(--color-accent-pos);
}

.directory .directory-header .header-search input {
  border: 1px solid var(--color-background-alt);
  background: inherit;
  color: var(--color-accent-neu-glow);
}

.directory .directory-header .header-search input:hover {
  box-shadow: 0 0 10px var(--color-accent-neu-glow) inset;
}

code {
  background: #83838314;
  width: auto;
  display: block;
  padding: 1em;
}

.directory-list .directory-item.active {
  color: var(--color-accent-neu-glow)
}

.prosemirror menu .pm-dropdown {
  background: #1e1e1e;
}














#chat-controls .roll-type-select {
  color: var(--color-accent-neu-glow);
  border: 1px solid var(--color-accent-neu-glow);
  box-shadow: 0 0 6px inset var(--color-accent-neu-glow);
  background: var(--color-background)
}

option, optgroup {
  background: var(--color-background-alt);
}